* {
    font-family: 'Montserrat', sans-serif;
}

h6,
p,
img {
    cursor: pointer;
}

input-group-text {
    background-color: #ff4b8d;
}

li {
    list-style: none;
    transition: .1s;
    cursor: pointer;
}

li:hover {
    color: #ff4b8d;
    transition: .1s;
    background-color: #ff4b8d0a;
}

.shadow-rs {
    box-shadow: 5px 0 5px -4px rgba(237, 241, 235, 0.8);
}

.card:hover #img1 {
    transform: translatex(0);
}

.card {
    overflow: hidden;
}

.card:hover #img2 {
    transform: translatex(100%);
}

.card:hover {
    border-bottom: 5px solid #ff4b8d98;
}

.card {
    border: 0;
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    max-width: 100%;
    max-height: 100%;
    transition: .1s;
}

#img1,
#img2 {
    width: 100%;
}

#img2 {
    transition-duration: 500ms;
    transform: translatex(0);
}

img {
    min-height: 250px;
}

@media screen and (min-width: 768px) {
    #menuresponsivo {
        display: none;
    }
}

@media screen and (min-width: 760px) and (max-width: 990px) {
    img {
        max-height: 150px;
        height: 150px;
        min-height: unset;
    }
}

@media screen and (max-width: 767px) {
    #categoria {
        display: none;
    }
}