<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="d-flex justify-content-end mt-5 mb-5">
                <button type="button" class="btn btn-light">Mais populares</button>
                <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Maior Preço</a>
                    <a class="dropdown-item" href="#">Menor Preço</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </nav>
        </div>
        <div class="col-md-3">
            <aside>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h4>Categoria</h4>
                        <span>Roupinhas</span> <br>
                    </li>
                    <li class="list-group-item">
                        <h4>Tamanho</h4>
                        <!-- <a href="">LINK</a> -->
                        <span>22</span> <br>
                        <span>24</span>
                        <!-- <input type="checkbox" class="form-check-input" id="exampleCheck1"> -->

                    </li>

                </ul>
            </aside>
        </div>
        <div class="col-md-9 ">
            <div class="row">

                <div class="col-md-4"><img class="col-md-12"
                        src="https://img.elo7.com.br/product/zoom/23F4BA1/roupa-infantil-para-festas-meninos-1-ano-conjunto-infantil.jpg"
                        alt=""></div>
                <div class="col-md-4"><img class="col-md-12"
                        src="https://www.dhresource.com/600x600/f2/albu/g6/M00/DE/39/rBVaR1tNiFOAWtmZAAL_lKYsqfM647.jpg"
                        alt=""></div>
                <div class="col-md-4"><img class="col-md-12"
                        src="https://img.elo7.com.br/product/zoom/2B1CC57/conjunto-infantil-masculino-roupa-para-meninos-de-1-a-3-anos-moda-kids.jpg"
                        alt=""></div>
            </div>
            <div class="row">

                <div class="col-md-4 mt-5"><img class="col-md-12"
                        src="https://img.elo7.com.br/product/zoom/23F4BA1/roupa-infantil-para-festas-meninos-1-ano-conjunto-infantil.jpg"
                        alt=""></div>
                <div class="col-md-4 mt-5"><img class="col-md-12"
                        src="https://www.dhresource.com/600x600/f2/albu/g6/M00/DE/39/rBVaR1tNiFOAWtmZAAL_lKYsqfM647.jpg"
                        alt=""></div>
                <div class="col-md-4 mt-5"><img class="col-md-12"
                        src="https://img.elo7.com.br/product/zoom/2B1CC57/conjunto-infantil-masculino-roupa-para-meninos-de-1-a-3-anos-moda-kids.jpg"
                        alt=""></div>
            </div>
            <div class="row">

                <div class="col-md-4 mt-5"><img class="col-md-12"
                        src="https://img.elo7.com.br/product/zoom/23F4BA1/roupa-infantil-para-festas-meninos-1-ano-conjunto-infantil.jpg"
                        alt=""></div>
                <div class="col-md-4 mt-5"><img class="col-md-12"
                        src="https://www.dhresource.com/600x600/f2/albu/g6/M00/DE/39/rBVaR1tNiFOAWtmZAAL_lKYsqfM647.jpg"
                        alt=""></div>
                <div class="col-md-4 mt-5"><img class="col-md-12"
                        src="https://img.elo7.com.br/product/zoom/2B1CC57/conjunto-infantil-masculino-roupa-para-meninos-de-1-a-3-anos-moda-kids.jpg"
                        alt=""></div>
            </div>



            <div class="row">
                <div class="col-md-12">
                    <ul class="pagination justify-content-center mt-5">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>