<div class="container-fluid">
  <div class="computador">
    <div class="container-flex ">
      <div class="container-flex imgCriancas">
        <div class="container">
          <!-- <img src="../../assets/images/tresCriancasComCurva.jpg" class="imgCriancas" alt=""> -->
          <div class="row animate__animated animate__fadeInRight animate__delay-1s animate__slow-5s">
            <div class="col-md-10 mt-5 d-flex justify-content-strat">
              <div class="cardinicial my-5" style="width: 30rem;">
                <div class="card-body shadow border-0">
                  <p class="card-text mt-2 mb-2">Sabe quando seus filhos crescem e você não sabe o que
                    fazer com tantas roupinhas e sapatinhos que não servem mais?
                    Somos o e-commerce que veio te ajudar! Para as roupinhas e sapatinhos que não servem
                    mais, venda aqui conosco. Precisa comprar outras roupinhas ou sapatinhos? Compre conosco.
                    E aqueles brinquedinhos que ainda dá pra brincar, mas que ficam guardados e de lado?
                    Doe!
                    Recebemos esses brinquedos doados e enviamos ao orfanato X e ao hospital X que
                    atende crianças com câncer. Faça uma criança sorrir!
                    E quando não se tem o dinheiro pra comprar outras
                    roupinhas para substituir as que
                    foram perdidas?
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="celular">
    <div class="container-flex imgCriancas">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-sm-10 mt-5 d-flex justify-content-center">
            <div class="cardinicial mt-3" style="width: 30rem;">
              <div class="card-body shadow border-0">
                <p class="card-text p-2">Sabe quando seus filhos crescem e você não sabe o que
                  fazer com tantas roupinhas e sapatinhos que não servem mais?
                  Somos o e-commerce que veio te ajudar! Para as roupinhas e sapatinhos que não servem
                  mais, venda aqui conosco. Precisa comprar outras roupinhas ou sapatinhos? Compre conosco.
                  E aqueles brinquedinhos que ainda dá pra brincar, mas que ficam guardados e de lado?
                  Doe!
                  Recebemos esses brinquedos doados e enviamos ao orfanato X e ao hospital X que
                  atende crianças com câncer. Faça uma criança sorrir!
                  E quando não se tem o dinheiro pra comprar outras
                  roupinhas para substituir as que
                  foram perdidas?
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- <div class="curva my-5">

    <img src="../../assets/images/tresCriancasComCurva.jpg" class="imgCriancas" alt="">


    <div class="container">
      <div
        class="row d-flex justify-content-end animate__animated animate__fadeInLeft animate__delay-1s animate__slow-5s">
        <div class="mt-4 ">
          <div class="card my-5" style="width: 30rem;">
            <div class="card-body shadow border-0">
              <p class="card-text p-2 text-justify">Sabe quando seus filhos crescem e você não sabe o que
                fazer com tantas roupinhas e sapatinhos que não servem mais?
                Somos o e-commerce que veio te ajudar! Para as roupinhas e sapatinhos que não servem
                mais, venda aqui conosco. Precisa comprar outras roupinhas ou sapatinhos? Compre conosco.
                E aqueles brinquedinhos que ainda dá pra brincar, mas que ficam guardados e de lado?
                Doe!
                Recebemos esses brinquedos doados e enviamos ao orfanato X e ao hospital X que
                atende crianças com câncer. Faça uma criança sorrir!
                E quando não se tem o dinheiro pra comprar outras
                roupinhas para substituir as que
                foram perdidas?
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="web">

    <div class="container">
      <div class="row col-12">
        <div class="cardsAbstratos">
          <span></span>
          <span></span>
          <span></span>
          <div class="contentMsG">
            <h4 class="text-center">Missão</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit assumenda enim illo blanditiis soluta
              quis
              iure vitae explicabo rerum eveniet.</p>
          </div>
        </div>

        <div class="cardsAbstratos">
          <span></span>
          <span></span>
          <span></span>
          <div class="contentMsG">
            <h4 class="text-center">Visão</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit assumenda enim illo blanditiis soluta
              quis
              iure vitae explicabo rerum eveniet..</p>
          </div>
        </div>

        <div class="cardsAbstratos">
          <span></span>
          <span></span>
          <span></span>
          <div class="contentMsG">
            <h4 class="text-center">Valores</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit assumenda enim illo blanditiis soluta
              quis
              iure vitae explicabo rerum eveniet.</p>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="mobile">

    <div class="container cardsAbstratosPai">
      <div class="row col-sm-12">
        <div class="cardsAbstratos">
          <span></span>
          <span></span>
          <span></span>
          <div class="contentMsG">
            <h4 class="text-center">Missão</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit assumenda enim illo blanditiis soluta quis
              iure vitae explicabo rerum eveniet.</p>
          </div>
        </div>


        <div class="cardsAbstratos">
          <span></span>
          <span></span>
          <span></span>
          <div class="contentMsG">
            <h4 class="text-center">Visão</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit assumenda enim illo blanditiis soluta quis
              iure vitae explicabo rerum eveniet..</p>
          </div>
        </div>
      </div>

      <div class="cardsAbstratos">
        <span></span>
        <span></span>
        <span></span>
        <div class="contentMsG">
          <h4 class="text-center">Valores</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit assumenda enim illo blanditiis soluta quis
            iure vitae explicabo rerum eveniet.</p>
        </div>
      </div>
    </div>

  </div>


  <div class="parallax">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="txtParallax text-center">Conheça Nossa Equipe</h1>
        </div>
      </div>
    </div>
  </div>


  <div class="container containerBx">
    <div class="box mx-1 my-3">
      <div class="imgBx">
        <img src="../../assets/time/anne.jpg" alt="">
      </div>
      <div class="camadas camada1"></div>
      <div class="camadas camada2"></div>
      <div class="contentBx"></div>
      <div>
        <h6 class="text-center">GEISIANE</h6>
        <!-- <p>Desenvolvedora full-stack do e-commerce Cresci. Cursa Análise e Desenvolvimento de Sistemas, futura
          arquiteta de software.
          É a titia coruja do grupo. Acredita que conectar pessoas com objetivos em comum é uma boa forma de
          ajuda-lás.</p> -->
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non et cupiditate eius laudantium porro a
          aspernatur
          voluptates labore nostrum.</p>
        <div id="botaoRede">
          <a href="https://www.linkedin.com/in/geisiane-maia/" target="_blank"
            class="btn btn-primary my-3 ml-3 mr-3 px-1">LinkedIn</a>
          <a href="https://github.com/GeisianeMaia" target="_blank" class="btn btn-dark my-3 ml-1 px-1">GitHub</a>
        </div>
      </div>
    </div>
    <div class="box mx-1 my-3">
      <div class="imgBx">
        <img src="../../assets/time/gabriel.jpg" alt="">
      </div>
      <div class="camadas camada1"></div>
      <div class="camadas camada2"></div>
      <div class="contentBx"></div>
      <div>
        <h6 class="text-center">GABRIEL</h6>
        <!-- <p>Acredita que a tecnologia é o maior aliado da humanidade, pois possibilita criar, promover e fomentar
          mudanças no mundo inteiro.
          Busca maneiras de ajudar as pessoas com a tecnologia, atuando como desenvolvedor full-stack</p> -->
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non et cupiditate eius laudantium porro a
          aspernatur
          voluptates labore nostrum.</p>
        <div id="botaoRede">
          <a href="https://www.linkedin.com/in/geisiane-maia/" target="_blank"
            class="btn btn-primary my-3 ml-3 mr-3 px-1">LinkedIn</a>
          <a href="https://github.com/GeisianeMaia" target="_blank" class="btn btn-dark my-3 ml-1 px-1">GitHub</a>
        </div>
      </div>
    </div>
    <div class="box mx-1 my-3">
      <div class="imgBx">
        <img src="../../assets/time/ivy.jpg" alt="">
      </div>
      <div class="camadas camada1"></div>
      <div class="camadas camada2"></div>
      <div class="contentBx"></div>
      <div>
        <h6 class="text-center">IVY</h6>
        <!-- <p>Estudante de Análise e Desenvolvimento de Sistemas e desenvolvedora do site Cresci. Entusiasta das
          causas
          ambientais, acredita que o consumo consciente é a melhor forma de ajudarmos o nosso planeta para todos!
        </p> -->
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non et cupiditate eius laudantium porro a
          aspernatur
          voluptates labore nostrum.</p>
        <div id="botaoRede">
          <a href="https://www.linkedin.com/in/geisiane-maia/" target="_blank"
            class="btn btn-primary my-3 ml-3 mr-3 px-1">LinkedIn</a>
          <a href="https://github.com/GeisianeMaia" target="_blank" class="btn btn-dark my-3 ml-1 px-1">GitHub</a>
        </div>
      </div>
    </div>
    <div class="box mx-1 my-3">
      <div class="imgBx">
        <img src="../../assets/time/erick.jpg" alt="">
      </div>
      <div class="camadas camada1"></div>
      <div class="camadas camada2"></div>
      <div class="contentBx"></div>
      <div>
        <h6 class="text-center">ERICK</h6>
        <!-- <p>Acredita que, ideia de trabalhar com ferramentas e equipamentos que facilitam a vida das pessoas, dando
          liberdade a elas, serve de motivação para ser desenvolvedor full-stack, formação adquirida na Generation
          Brasil.</p> -->
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non et cupiditate eius laudantium porro a
          aspernatur
          voluptates labore nostrum.</p>
        <div id="botaoRede">
          <a href="https://www.linkedin.com/in/geisiane-maia/" target="_blank"
            class="btn btn-primary my-3 ml-3 mr-3 px-1">LinkedIn</a>
          <a href="https://github.com/GeisianeMaia" target="_blank" class="btn btn-dark my-3 ml-1 px-1">GitHub</a>
        </div>
      </div>
    </div>
    <div class="box mx-1 my-3">
      <div class="imgBx">
        <img src="../../assets/time/pricilla.jpeg" alt="">
      </div>
      <div class="camadas camada1"></div>
      <div class="camadas camada2"></div>
      <div class="contentBx"></div>
      <div>
        <h6 class="text-center">PRICILLA</h6>
        <!-- <p>Quer fazer a diferença no modo de vida das pessoas e no desenvolvimento da sociedade, através de
          inovações
          tecnológicas, com um olhar de cidadã, Arquiteta e Urbanista. Procurando sempre evoluir como humana e
          profissional.</p> -->
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non et cupiditate eius laudantium porro a
          aspernatur
          voluptates labore nostrum.</p>
        <div id="botaoRede">
          <a href="https://www.linkedin.com/in/geisiane-maia/" target="_blank"
            class="btn btn-primary my-3 ml-3 mr-3 px-1">LinkedIn</a>
          <a href="https://github.com/GeisianeMaia" target="_blank" class="btn btn-dark my-3 ml-1 px-1">GitHub</a>
        </div>
      </div>
    </div>
  </div>


  <div class="container rowequipe">

    <div class="cardequipe col-md-4 col-sm-12  mb-5">
      <div class="card shadow-sm">
        <img id="img1" src="../../assets/time/anne.jpg" class="card-img-top" alt="...">
        <div class="card-body" id="botaoRede">
          <h5 class="card-title text-center mt-1">GEISIANE</h5>
          <a href="https://www.linkedin.com/in/geisiane-maia/" target="_blank"
            class="btn btn-primary my-3 ml-4 mr-3 px-1">LinkedIn</a>
          <a href="https://github.com/GeisianeMaia" target="_blank" class="btn btn-dark my-3 mx-2 px-1">GitHub</a>
        </div>
      </div>
    </div>

    <div class="cardequipe col-md-4 col-sm-12  mb-5">
      <div class="card shadow-sm">
        <img id="img1" src="../../assets/time/gabriel.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center mt-1">GABRIEL</h5>
          <a href="https://www.linkedin.com/in/geisiane-maia/" target="_blank"
            class="btn btn-primary my-3 ml-4 mr-3 px-1">LinkedIn</a>
          <a href="https://github.com/GeisianeMaia" target="_blank" class="btn btn-dark my-3 mx-2 px-1">GitHub</a>
        </div>
      </div>
    </div>

    <div class="cardequipe col-md-4 col-sm-12  mb-5">
      <div class="card shadow-sm">
        <img id="img1" src="../../assets/time/ivy.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center mt-1">IVY</h5>

          <a href="https://www.linkedin.com/in/geisiane-maia/" target="_blank"
            class="btn btn-primary my-3 ml-4 mr-3 px-1">LinkedIn</a>
          <a href="https://github.com/GeisianeMaia" target="_blank" class="btn btn-dark my-3 mx-2 px-1">GitHub</a>

        </div>
      </div>
    </div>

    <div class="cardequipe col-md-4 col-sm-12  mb-5">
      <div class="card shadow-sm">
        <img id="img1" src="../../assets/time/erick.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center mt-1">ERICK</h5>

          <a href="https://www.linkedin.com/in/geisiane-maia/" target="_blank"
            class="btn btn-primary my-3 ml-4 mr-3 px-1">LinkedIn</a>
          <a href="https://github.com/GeisianeMaia" target="_blank" class="btn btn-dark my-3 ml-1 px-1">GitHub</a>

        </div>
      </div>
    </div>

    <div class="cardequipe col-md-4 col-sm-12  mb-5">
      <div class="card shadow-sm">
        <img id="img1" src="../../assets/time/pricilla.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center mt-1">PRICILLA</h5>

          <a href="https://www.linkedin.com/in/geisiane-maia/" target="_blank"
            class="btn btn-primary my-3 ml-4 mr-3 px-1">LinkedIn</a>
          <a href="https://github.com/GeisianeMaia" target="_blank" class="btn btn-dark my-3 ml-1 px-1">GitHub</a>
        </div>

      </div>
    </div>
  </div>