<div class="imagim">
</div>
<div class="bg mb-2">
  <div class="container">
    <div class="row cardsAbstratosPai">
      <div class="cardsAbstratos">
        <span></span>
        <span></span>
        <span></span>
        <div class="contentMsG">
          <h6 class="text-center">Missão</h6>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit assumenda enim illo blanditiis
            soluta
            quis
            iure vitae explicabo rerum eveniet.</p>
        </div>
      </div>
      <div class="cardsAbstratos">
        <span></span>
        <span></span>
        <span></span>
        <div class="contentMsG">
          <h6 class="text-center">Visão</h6>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit assumenda enim illo blanditiis
            soluta
            quis
            iure vitae explicabo rerum eveniet..</p>
        </div>
      </div>
      <div class="cardsAbstratos mb-2">
        <span></span>
        <span></span>
        <span></span>
        <div class="contentMsG">
          <h6 class="text-center">Valores</h6>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit assumenda enim illo blanditiis
            soluta
            quis
            iure vitae explicabo rerum eveniet.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row mt-3">
      <div class="col-md-3 segment-three">
        <div class="card border-0 bg">
          <div class="card-body">
            <h5 class="card-title">Missão</h5>
            <hr class="mt-1 mb-3">
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi consequuntur doloremque
              quam nesciunt architecto iusto? Ipsa accusantium mollitia error, aut labore nulla alias at atque. Eos odio
              aspernatur molestiae voluptas!</p>
          </div>
        </div>
      </div>


      <div class="col-md-3 segment-three">
        <div class="card border-0 bg">
          <div class="card-body">
            <h5 class="card-title">Visão</h5>
            <hr class="mt-1 mb-3">
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi consequuntur doloremque
              quam nesciunt architecto iusto? Ipsa accusantium mollitia error, aut labore nulla alias at atque. Eos odio
              aspernatur molestiae voluptas!</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 segment-three">
        <div class="card border-0 bg">
          <div class="card-body">
            <h5 class="card-title">Valores</h5>
            <hr class="mt-1 mb-3">
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi consequuntur doloremque
              quam nesciunt architecto iusto? Ipsa accusantium mollitia error, aut labore nulla alias at atque. Eos odio
              aspernatur molestiae voluptas!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row d-flex mt-5 mb-5">
    <div class="col-md-4">
      <div class="property-card mt-2 mb-3">
        <div class="imgErick">
          <div class="property-image-title">
          </div>
        </div>
        <div class="property-description">
          <h5 class="mb-1">Erick Portugal</h5>
          <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard. dsa</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mt-2 mb-3">
      <iframe class="video" width="100%" height="290" src="https://www.youtube.com/embed/hcuABOkWqSA" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="col-md-4">
      <div class="property-card mt-2 mb-3">
        <div class="imgGabriel">
          <div class="property-image-title">
          </div>
        </div>
        <div class="property-description">
          <h5 class="mb-1">Gabriel Lima</h5>
          <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard. dsa</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="property-card mt-1 mb-1">
        <div class="imgIvy">
          <div class="property-image-title">
          </div>
        </div>
        <div class="property-description">
          <h5 class="mb-1">Ivy Silva</h5>
          <p>Estudante de ADS na FATEC. Acredita no consumo consciente como ferramenta para ajudar o planeta!</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="property-card mt-1 mb-1">
        <div class="imgGesianne">
          <div class="property-image-title">
          </div>
        </div>
        <div class="property-description">
          <h5 class="mb-1">Geisiane Maia</h5>
          <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard. dsa</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="property-card mt-1 mb-1">
        <div class="imgPricila">
          <div class="property-image-title">
          </div>
        </div>
        <div class="property-description">
          <h5 class="mb-1">Pricilla Souza</h5>
          <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard. dsa</p>
        </div>
      </div>
    </div>
  </div>
</div>
