<div class="imagim">
</div>
<div class="bg mb-2">
  <div class="container">
    <div class="row cardsAbstratosPai">
      <div class="cardsAbstratos">
        <span></span>
        <span></span>
        <span></span>
        <div class="contentMsG">
          <h6 class="text-center">Missão</h6>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit assumenda enim illo blanditiis
            soluta
            quis
            iure vitae explicabo rerum eveniet.</p>
        </div>
      </div>
      <div class="cardsAbstratos">
        <span></span>
        <span></span>
        <span></span>
        <div class="contentMsG">
          <h6 class="text-center">Visão</h6>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit assumenda enim illo blanditiis
            soluta
            quis
            iure vitae explicabo rerum eveniet..</p>
        </div>
      </div>
      <div class="cardsAbstratos mb-2">
        <span></span>
        <span></span>
        <span></span>
        <div class="contentMsG">
          <h6 class="text-center">Valores</h6>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit assumenda enim illo blanditiis
            soluta
            quis
            iure vitae explicabo rerum eveniet.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row d-flex mb-5">
    <div class="col-md-4">
      <div class="property-card mt-2 mb-3">
        <div class="imgErick">
          <div class="property-image-title">
          </div>
        </div>
        <div class="property-description">
          <h5 class="mb-1"> Erick Portugal </h5>
          <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard. dsa</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="property-card mt-2 mb-3">
        <div class="imgGesianne">
          <div class="property-image-title">
          </div>
        </div>
        <div class="property-description">
          <h5 class="mb-1"> Gesianne </h5>
          <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard. dsa</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="property-card mb-3">
        <div class="imgGabriel">
          <div class="property-image-title">
          </div>
        </div>
        <div class="property-description">
          <h5 class="mb-1"> Gabriel Lima </h5>
          <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard. dsa</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="property-card mb-1">
        <div class="imgIvy">
          <div class="property-image-title">
          </div>
        </div>
        <div class="property-description">
          <h5 class="mb-1"> Ivy Silva </h5>
          <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard. dsa</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-1">
      <iframe class="video" width="100%" height="290" src="https://www.youtube.com/embed/hcuABOkWqSA" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="col-md-4">
      <div class="property-card mb-1">
        <div class="imgPricila">
          <div class="property-image-title">
          </div>
        </div>
        <div class="property-description">
          <h5 class="mb-1"> Pricila Bonami </h5>
          <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard. dsa</p>
        </div>
      </div>
    </div>
  </div>
</div>
