* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

img {
  width: 100%;
}

/* INICIO CSS REFERENTE AOS CARDS DO MISSÃO, VISÃO E VALORES: */
.containerMvV1 {
  margin: 10em auto;
}
.cardsAbstratos {
  position: relative;
  width: 320px;
  height: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em 1em;
}
.cardsAbstratos span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  border: 2px solid #04c4d9;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate 6s linear infinite;
}
.cardsAbstratos span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #ff4b8d;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate 8s linear infinite;
}
.cardsAbstratos span:nth-child(3) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #04c4d9;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate2 10s linear infinite;
}
.contentMsG {
  position: relative;
  padding: 40px 60px;
  color: rgb(122, 122, 122);
  text-align: justify;
  transition: 0.5s;
  z-index: 100;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/*FIM CSS REFERENTE A MISSAO, VISÃO E VALORES*/

/* INICIO CSS REFERENTE AO PARALLAX: */
.parallax {
  background-image: url("../../assets/images/menino-heroi.jpg");
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  padding-top: 150px;
}
.txtParallax {
  font-size: 2em;
  padding: 5px;
  background: #38383881;
  display: flex;
  vertical-align: middle;
}
/* FIM CSS REFERENTE AO PARALLAX */


/* INICIO CSS REFERENTE AOS CARDS DA EQUIPE: */
.bodyEquipe {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.containerBx {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.containerBx .box {
  position: relative;
  width: 230px;
  height: 280px;
  box-shadow: 2px 2px 6px 1px rgba(151, 151, 151, 0.5);
  text-align: justify;
  overflow: hidden;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
}
.containerBx .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 1.5s ease-in-out;
}
.containerBx .box:hover .imgBx {
  transform: translateY(-100%);
}
.containerBx .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.containerBx .box .camadas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 1.5s ease-in-out;
}
.containerBx .box .camadas.camada1 {
  background: #ff4b8d;
  transform: translateY(100%);
}
.containerBx .box:hover .camadas.camada1 {
  background: #ff4b8d;
  transform: translateY(-100%);
}
.containerBx .box .camadas.camada2 {
  background: #04c4d9;
  transform: translateY(200%);
}
.containerBx .box:hover .camadas.camada2 {
  background: #04c4d9;
  transform: translateY(-100%);
}
/* FIM CSS REFERENTE AOS CARDS DA EQUIPE */


/* .sobreBg {
  background-image: url("../../assets/images/2-girls-hugging-each-other-outdoor-during-daytime-225017.jpg");
  background-repeat: repeat;
  background-size: cover;
  min-width: 100%;
  background-position: 30%;
}

.card {
  background: rgba(247, 225, 225, 0.75);
}

.empresa {
  width: 100%;
  padding: 1em;
}

.cardMvV {
  width: 100%;
  margin: 5em auto;
  padding: 2em;
  display: flex;
  justify-content: space-around;
}

.cardMissao {
  width: 100%;
  height: 37vh;
  /* background: #54DEB2; 
}

.cardValores {
  width: 20vw;
  height: 37vh;
   background:#EDD734; 
}

.cardVisão {
  width: 20vw;
  height: 37vh;
   background:#04C4D9; 
}

.sobreTextImg {
  margin-bottom: 0;
  padding-bottom: 0;
}

.cardPai {
  margin: 0 auto;
  padding: auto;
}

.cardPai h1 {
  text-align: center;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
}

.cardEquipe {
  width: 20vw;
  height: 37vh;
   background: honeydew; 
  margin: 1.5em auto;
  padding: 0;
  transition: 0.5s;
  overflow: hidden;
  position: relative;
}
.cardEquipe:hover {
  width: 22vw;
  height: 37vh;
   background: honeydew; 
  transform: scale(1.3);
  z-index: 20;
  box-shadow: 0.3em 0.3em 0.5em rgb(94, 94, 94);
}

.textoEquipe {
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 0);
  transform: translateY(102%);
  transition: all 0.5s ease-in-out;
}
.textoEquipe p {
  padding-left: 0.4em;
  padding-right: 0.4em;
  text-align: justify;
  font-size: smaller;
}
.textoEquipe h5 {
  text-align: center;
}
.textoEquipe h6 {
    padding-left: 0.5em;
    padding-top: 0.2em;
    color: rgb(245, 245, 245);
    text-align: center;
  }

.cardEquipe:hover .textoEquipe {
  transform: translateY(0%);
  top: 0;
}

#equipe {
  width: 100%;
  padding: 5em;
  background: #04c4d9;
} */
