* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.bg {
  background: #f8f8f8a4;
}

.imagim {
  background-image: url("../../assets/images/crianca-vender.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.segment-three h5:before {
  content: "|";
  color: #ff4b8d;
  padding-right: 10px;
}

/* INICIO CSS REFERENTE AOS CARDS DO MISSÃO, VISÃO E VALORES: */

.cardsAbstratos {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto;
}

.cardsAbstratos span:nth-child(1) {
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #bbecea 5%, #b7ebe7 30%, #f8d6e1 80%, #fae0e8 100%);
  border: 2px solid #04c4d9;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate 6s linear infinite;
}

.cardsAbstratos span:nth-child(2) {
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #ff4b8d;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate 8s linear infinite;
}

.cardsAbstratos span:nth-child(3) {
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #04c4d9;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate2 10s linear infinite;
}

.contentMsG {
  margin: 0 auto;
  position: absolute;
  padding: 30px 50px;
  color: rgb(109, 109, 109);
  text-align: justify;
  transition: 0.5s;
  z-index: 60;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/*FIM CSS REFERENTE A MISSAO, VISÃO E VALORES!*/

.video {
  background-position-y: bottom;
  border-radius: 16px;
  z-index: 10;
}

.property-card {
  height: 18em;
  width: 14em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 16px;
  overflow: hidden;
}

.imgIvy {
  height: 6em;
  width: 14em;
  padding: 1em 2em;
  position: Absolute;
  top: 0px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image: url("../../assets/time/ivy.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.imgGabriel {
  height: 6em;
  width: 14em;
  padding: 1em 2em;
  position: Absolute;
  top: 0px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image: url("../../assets/time/gabriel.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.imgPricila {
  height: 6em;
  width: 14em;
  padding: 1em 2em;
  position: Absolute;
  top: 0px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image: url("../../assets/time/pricilla.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.imgErick {
  height: 6em;
  width: 14em;
  padding: 1em 2em;
  position: Absolute;
  top: 0px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image: url("../../assets/time/erick.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.imgGesianne {
  height: 6em;
  width: 14em;
  padding: 1em 2em;
  position: Absolute;
  top: 0px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image: url("../../assets/time/anne.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.property-description {
  background-color: #FAFAFC;
  height: 12em;
  width: 14em;
  position: absolute;
  bottom: 0em;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align: center;
}

.property-card:hover .property-description {
  height: 0em;
  padding: 0px 1em;
}

.property-card:hover .imgIvy {
  height: 18em;
}

.property-card:hover .imgGabriel {
  height: 18em;
}

.property-card:hover .imgPricila {
  height: 18em;
}

.property-card:hover .imgErick {
  height: 18em;
}

.property-card:hover .imgGesianne {
  height: 18em;
}
