* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}


/* INICIO CSS REFERENTE AO PARALLAX1: */
.parallax1 {
    margin: 50px auto;
    max-width:100% ;
    background-image: url("../../assets/images/frank-mckenna-8-rErfjcr1k-unsplash.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    padding-top: 150px;
  }
  .txtParallax1 {
    font-size: 1.2em;
    text-align: justify;
    margin-top: 90px;
    margin-bottom: 200px;
    padding: 20px;
    background: #38383881;
    display: flex;
    justify-content:center ;
    align-items: end;
  }
  /* FIM CSS REFERENTE AO PARALLAX1! */

/* INICIO CSS REFERENTE AOS CARDS DO MISSÃO, VISÃO E VALORES: */

.cardsAbstratosPai {
  flex-wrap: wrap;
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cardsAbstratos {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 90px auto;
}
.cardsAbstratos span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #bbecea 5%, #b7ebe7 30%, #f8d6e1 80%, #fae0e8 100%);
  border: 2px solid #04c4d9;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate 6s linear infinite;
}
.cardsAbstratos span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #ff4b8d;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate 8s linear infinite;
}
.cardsAbstratos span:nth-child(3) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #04c4d9;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate2 10s linear infinite;
}
.contentMsG {
  position: absolute;
  padding: 30px 50px;
  color: rgb(122, 122, 122);
  text-align: justify;
  transition: 0.5s;
  z-index: 60;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/*FIM CSS REFERENTE A MISSAO, VISÃO E VALORES!*/

/* INICIO CSS REFERENTE AO PARALLAX2: */
.parallax2 {
  margin: auto auto;
  background-image: url("../../assets/images/frank-mckenna-LhOjrOlcLx4-unsplash.jpg");
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  padding-top: 150px;
}
.txtParallax2 {
  font-size: 2em;
  padding: 5px;
  background: #38383871;
  display: flex;
  justify-content: center;
  align-items: center;

}
/* FIM CSS REFERENTE AO PARALLAX2! */

/* INICIO CSS REFERENTE A EQUIPE: */
.rowequipe {
  margin: 100px auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  max-width: 100%;
  min-height: 60vh;
}

.cardequipe {
  margin: 60px auto;
  position: relative;
  border: 0;
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  max-width: 200px;
  max-height: 200px;
  box-shadow: 2px 2px 6px 1px rgba(151, 151, 151, 0.5);
}
.cardequipe:hover {
  border-bottom: 5px solid #ff4b8d98;
}
#img1 {
  width: 100%;
}
#botaoRede a {
  justify-content: center;
  align-items: center;
}

.card-title {
  font-weight: bold;
}
/* FIM CSS REFERENTE A EQUIPE! */