<div id="contanier-flex">
  <div id="accordion">
    <h1>Ajuda</h1>
    <div class="card">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
        aria-controls="collapseOne">
        <h4>Cadastro</h4>
      </button>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          
          <h5>Como eu me cadastro?</h5>
          <span>
            Para comprar e vender produtos é preciso criar uma conta através de um cadastro pessoal e intransferível. Para se cadastrar, <a routerLink='/cadastrar' target="_blank">clique aqui.</a>
            <br><br>
            As suas informações são utilizadas apenas para fins de identificação de usuário na nossa plataforma. Caso tenha alguma dúvida consulte nossa <a routerLink='/privacidade' target="_blank">Política de Privacidade.</a>
          </span>
          <br><br>

          <h5>Esqueci minha senha, e agora?</h5>
          <span>
            Basta ir no login, digitar seu nome e e-mail cadastrado e clicar em <a routerLink='#'>Esqueceu sua senha?</a> Você receberá um e-mail com o passo a passo para redefinir a sua senha.
          </span>

        </div>
      </div>
    </div>
    <hr>

    <div class="card">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
        aria-controls="collapseTwo">
        <h4>Vender</h4>
      </button>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">

          <h5>Como faço pra vender?</h5>
          Para vender, basta se cadastrar no site e criar anúncios para cada um dos itens diferentes que deseja oferecer.
          <br><br>
          1. Para criar um anúncio, vá até a página <a routerLink='/cadastro-produto' target="_blank">Vender.</a> 
          <br>
          2. Nessa página, é só preencher as informações solicitadas: título, preço e descrição do produto. O título deve ser direto e chamativo. Já a descrição deve ter mais detalhes, como marca e tamanho.
          <br>
          3. Fotografe seus produtos. Lembre-se que uma imagem diz mais que mil palavras, então capriche!
          <br>
          4. Os próximos passos são escolher a categoria e dizer se o item nunca foi usado ou se já foi usado. Pronto! Seu anúncio será publicado em instantes.
          <br><br>

          <h5>Terei algum custo para anunciar?</h5>
          <span>
            Sim. Cobramos taxa de comissão para cobrir custos dos nossos serviços, tais como o de intermediação, meios de pagamento, segurança e demais custos da plataforma Cresci.
            <br><br>
            Para produtos com o valor de até R$50,99 cobramos uma comissão de 7% sobre a venda. Para produtos com valor acima de R$51,00 cobramos uma comissão de 10% sobre a venda.
            <br><br>
          </span>

          <h5>Quem pode vender?</h5>
          <span>
            Qualquer pessoa física que queira anunciar produtos do segmento infantil. Os itens devem ser de pequeno porte, permitindo o envio pelos correios. <b>Não é possível realizar o cadastro em nome de pessoa jurídica.</b>
          </span>
          <br><br>

          <h5>O que posso vender?</h5>
          <span>
            Produtos do segmento infantil que sejam de pequeno porte e estejam em boas condições de uso. Nos reservamos ao direito de remover anúncios que caracterizam: pedido de doação, medicamentos e itens de consumo alimentar, entre outros que não se enquadrem em nossos <a routerLink='/termos-de-uso' target="_blank">Termos de Uso.</a>
          </span>
          <br><br>

        </div>
      </div>
    </div>
    <hr>

    <div class="card">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
        aria-controls="collapseThree">
        <h4>Comprar</h4>
      </button>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">

          <h5>Como faço pra comprar?</h5>
          <span>
            Basta se cadastrar, logar, escolher o item que queira comprar, colocar no carrinho e finalizar a compra.
          </span>
          <br><br>

          <h5>Quais são as formas de pagamento?</h5>
          <span>
            Cartão de crédito (cadastre os dados do cartão no momento da finalização da compra) ou boleto bancário (imprima o boleto através do botão gerar boleto na finalização da compra).
          </span>
          <br><br>

          <h5>Denúncias</h5>
          <span>
            Você pode denunciar anúncios e usuários que não estão de acordo com os nossos <a routerLink='/termos-de-uso' target="_blank">Termos de Uso</a>, como por exemplo, usuários que vendem produtos impróprios para o site ou que tentem fazer vendas por fora.
            <br><br>
            Para denunciar, entre em contato com o Cresci através do email contato-cresci@gmail.com informando o usuário e o anúncio ou conduta imprópria com o máximo de detalhes possível. Fique tranquilo que a sua identidade não será revelada para ninguém de fora da nossa equipe.
          </span>

        </div>
      </div>
    </div>
    <hr>

    <div class="card">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
        aria-controls="collapseFour">
        <h4>Frete</h4>
      </button>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">

          <h5>Qual a taxa do frete?</h5>
          <span>
            No site dos Correios, é possível consultar o valor de frete <a href="http://www2.correios.com.br/sistemas/precosPrazos/" target="_blank">clicando aqui.</a> Informe o CEP
            (origem e destino), peso e as dimensões do produto (largura + altura + comprimento). Se não souber o peso e as dimensões, a dica é consultar essas informações em um site que venda o mesmo produto, geralmente na página onde informa a descrição do produto ou ficha técnica encontram- se essas informações.
          </span>
          <br><br>

          <h5>Como enviar uma venda?</h5>
          <span>
            Assim que uma venda é finalizada, é gerada uma etiqueta de postagem, onde constam todos os dados do comprador. A etiqueta será enviada por e-mail ao vendedor assim que o pagamento do comprador for confirmado. Você (vendedor) deverá imprimir a etiqueta e colar na embalagem do produto a declaração de conteúdo (que está no mesmo arquivo da etiqueta) e ir aos Correios. Dessa forma o valor do frete será cobrado do comprador apenas, e
            você não irá pagar nada aos Correios no momento da postagem.
            <br><br>
            <b>Atenção:</b> o objeto deve ser acondicionado pelo remetente em embalagem que resista ao peso, à forma e à natureza do conteúdo. A embalagem pode ser adquirida nos Correios ou em outros lugares, desde que seja em papel liso e resistente e que não ultrapasse as dimensões mínimas e máximas admitidas pelo Correios.
          </span>
          <br><br>

          <h5>Como acompanho meu pedido?</h5>
          <span>
            Após finalizado o pedido, é gerado um código de rastreio que pode ser monitorado no site dos correios, 24 horas após a confirmação do pagamento. Você pode acompanhar o pedido <a
              href="https://correios.com.br/rastreamento-de-objetos" target="_blank">clicando aqui.</a>
          </span>
          <br><br>

          <h5>Pago o frete para doar?</h5>
          <span>
            Não, o frete é isento para as doações. Quando recebermos a notificação de doação de <b>brinquedos,</b> enviaremos para o seu e-mail uma etiqueta com as informações de remetente e destinatário, bem como declaração de conteúdo, que deverão ser impressos e colados por fora da embalagem de envio.
            <br><br>
            <b>Atenção</b> para o tamanho do brinquedo! Não deve exceder as dimensões estabelecidas pelos Correios.
          </span>

        </div>
      </div>
    </div>
    <hr>

    <div class="card">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
        aria-controls="collapseFive">
        <h4>Reembolso</h4>
      </button>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
        <div class="card-body">

          <h5>Como solicitar uma devolução?</h5>
          <span>
            1. Depois de os Correios registrarem o produto como entregue, o comprador terá o prazo de sete (7) dias corridos para solicitar a devolução;
            <br>
            2. Envie a sua solicitação para o e-mail contato-cresci@gmail.com informando o motivo da devolução. Lembre-se que você deve denunciar usuários e anúncios que não se enquadram nas nossas políticas e termos de uso;
            <br>
            3. Depois de solicitar a devolução, ela será liberada e, a partir de então, o comprador receberá a etiqueta com o prazo para postagem;
            <br>
            4. O produto deverá ser devolvido exatamente como foi recebido: embalado muito bem antes de ser enviado. A responsabilidade e o cuidado com a embalagem de envio do produto é sempre de quem realiza a postagem;
            <br>
            5. Produtos que tiveram suas etiquetas removidas, ou foram usados, lavados ou danificados por parte do comprador, não poderão ser devolvidos ao vendedor. Por isso, é importante checar cuidadosamente os produtos assim que eles chegarem às suas mãos.
          </span>
          <br><br>

          <h5>Como funciona o reembolso?</h5>
          <span>
            Compras feitas com boleto: Depois de postar o produto e os Correios marcarem o objeto como entregue ao vendedor, o valor pago, ficará disponível para saque em até 4 dias úteis. Você deve acessar a sua conta e solicitar o saque para a conta bancária cadastrada.
            <br><br>
            Compras feitas com cartão de crédito: Depois de postar o produto e os Correios marcarem o objeto como entregue ao destinatário, seu estorno será liberado em até quatro dias úteis. Depois de aprovado, o estorno é feito pela operadora de cartão de crédito. Ela será a responsável por efetuar o lançamento do valor na fatura. Alguns lançamentos podem levar até 60 dias para serem efetuados. <b>Atenção: O valor do frete não será reembolsado.</b>
          </span>

        </div>
      </div>
    </div>
    <hr>

    <div class="card">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false"
        aria-controls="collapseSix">
        <h4>Doação</h4>
      </button>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">

          <h5>Pra quem vai as doações?</h5>
          <span>
            O site Cresci possui parcerias com as seguintes instituições: GRAACC, CUFA e AACD. Saiba mais sobre essas instituições na nossa página <a routerLink='/doacao' target="_blank">Doar.</a>
          </span>
         <br><br>

          <h5>Como posso doar?</h5>
          <span>
            Para fazer doações em dinheiro, preencha o formulário que consta no final da página <a routerLink='/doacao' target="_blank">Doar.</a> Escolha o que você quer doar (dinheiro ou brinquedos) e a instituição que você quer ajudar. Não sabe qual escolher? Escolha a opção "Dividir o valor igualmente entre as instituições".
            <br><br>
            Pronto! Se a sua doação for de brinquedos, fique atento ao seu e-mail pois enviaremos a etiqueta com as informações de envio pelos Correios. Se a doação for em dinheiro, é só aguardar a confirmação e envio do seu comprovante por e-mail também.
          </span>
          <br><br>

          <h5>O que pode ser doado?</h5>
          <span>
            Você pode fazer doações em dinheiro para qualquer uma de nossas instituições parceiras e o valor será integralmente encaminhado para a instituição de sua escolha.
            <br><br>
            Também é possível fazer doação de brinquedos em bom estado de conservação para GRAAC e AACD. Neste caso, as doações precisam ser levadas até o local pessoalmente ou enviada pelos Correios. Saiba mais na nossa página <a routerLink='/doacao' target="_blank">Doar.</a>
          </span>

        </div>
      </div>
    </div>

  </div>
</div>