<div id="contanier-flex">
  <div id="accordion">
    <h1>Ajuda</h1>
    <div class="card">
      <!-- <div class="card-header" id="headingOne"> -->
      <!-- <h5 class="mb-0"> -->
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
        aria-controls="collapseOne">
        <h3>Cadastro</h3>
      </button>
      <!-- </h5> -->
      <!-- </div> -->

      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <h5>Como faço pra cadastrar?</h5>
          <span>
            <a href="#">
              Clique aqui para registrar sua conta.
            </a></span>

          <br />
          <br />

          <h5>Esqueci minha senha, e agora?</h5>
          <span>
            Basta ir no login, digitar seu e-mail de usuário e clicar no esqueci
            minha senha. Você receberá um e-mail com o passo a passo para
            redefinir a sua senha.</span>
        </div>
      </div>
    </div>
    <hr />
    <div class="card">
      <!-- <div class="card-header" id="headingTwo"> -->
      <!-- <h5 class="mb-0"> -->
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
        aria-controls="collapseTwo">
        <h4>Vender</h4>
      </button>
      <!-- </h5> -->
      <!-- </div> -->

      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <h5>Como faço pra vender?</h5>
          <br /><br />
          <h5>Quem pode vender?</h5>
          <span>Pessoas que tem itens infantis semi novos ou novos e queira
            vendê-los.</span>
          <br /><br />
          <h5>O que posso vender?</h5>
          <span>Roupinhas, sapatinhos e artigos infantis.</span>
          <br /><br />
          <h5>O que não posso vender?</h5>
          <span> Brinquedos, itens de higienização e móveis.</span>
          <br /><br />
          <h5>Como deve ser a mercadoria?</h5>
          <span>
            Novas ou semi novas, sem rasgos, sem bolinhas e nem
            desgastados.</span>
        </div>
      </div>
    </div>
    <hr />
    <div class="card">
      <!-- <div class="card-header" id="headingThree"> -->
      <!-- <h5 class="mb-0"> -->
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
        aria-controls="collapseThree">
        <h4>Comprar</h4>
      </button>
      <!-- </h5> -->
      <!-- </div> -->
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          <h5>Como faço pra comprar?</h5>
          <span>
            Basta se cadastrar, logar, escolher o item que queira comprar,
            colocar no carrinho e finalizar a compra.</span>
          <br /><br />
          <h5>Quais são as formas de pagamento?</h5>
          <span>Cartão de crédito (cadastre os dados do cartão no momento da
            finalização da compra) ou boleto bancário (imprima o boleto através
            do botão gerar boleto na finalização da compra).</span>
        </div>
      </div>
    </div>
    <hr />
    <div class="card">
      <!-- <div class="card-header" id="headingFour"> -->
      <!-- <h5 class="mb-0"> -->
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
        aria-controls="collapseFour">
        <h4>Doação</h4>
      </button>
      <!-- </h5> -->
      <!-- </div> -->
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">
          <h5>O que pode ser doado?</h5>
          <span>Brinquedos novos ou usados mas que não estejam danificados.</span>
          <br /><br />
          <h5>Pra quem vai as doações?</h5>
          <span>As doações são enviadas para o Abrigo X e para o hospital Y que
            tratam crianças com câncer.</span>
          <br /><br />
          <h5>Como posso doar?</h5>
          <span>Para doar deixe seu telefone e e-mail de contato no formulário da
            página doar, que entraremos em contato para vermos a melhor forma
            possível de receber sua doação.</span>
        </div>
      </div>
    </div>
    <hr />
    <div class="card">
      <!-- <div class="card-header" id="headingFive"> -->
      <!-- <h5 class="mb-0"> -->
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
        aria-controls="collapseFive">
        <h4>Frete</h4>
      </button>
      <!-- </h5> -->
      <!-- </div> -->
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
        <div class="card-body">
          <h5>Qual a taxa do frete?</h5>
          <span>
            No campo de finalizar a compra, digite seu CEP que ele mostrara o
            valor cobrado mediante ao seu endereço de entrega.</span>
          <br /><br />
          <h5>Pago o frete para doar?</h5>
          <span>Não, para as doações o frete é isento.</span>
          <br /><br />
          <h5>Como acompanho meu pedido?</h5>
          <span>
            Após finalizado o pedido, é gerado um código de rastreamento que
            pode ser monitorado no site dos correios após 24 horas da
            confirmação de pagamento.</span>
          <br /><br />
          <h5>Onde coloco o código de rastreamento?</h5>
          <span>
            Na página principal do site dos
            <a href="https://www.correios.com.br/enviar-e-receber/ferramentas/calculador-remoto-de-precos-e-prazos"
              style="color: blue;" target="_blank">
              correios</a>,
            tem a opção acompanhe seu objeto, digite seu código de
            rastreamento e clique na lupa pra pesquisar.</span>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <div class="bg-stars">
    <img src="../../assets/images/stars.jpg" class="img-fluid" alt="Responsive image">
  </div>
</div>

<!-- <script>
  const buttonLink = document.querySelectorAll(".btn-link");

  [...buttonLink].map((button) => {
    button.addEventListener("click", () =>
      button.classList.toggle("button-oppen")
    );
  });
</script> -->