* {
  font-family: 'Montserrat', sans-serif;
}
.pinkLink{
  color: #ff4b8d;
}

.card {
  border-collapse: 2px solid collapse;
  border: none;
  padding-left: 20px;
}

.btn-link {
  position: relative;
}

.btn-link::before {
  content: "+";
  font-size: 1.3em;
  position: absolute;
  left: -5px;
  margin: auto 0;
  top: 0.5px;
  color: #000;
}

.card-body .btn-link::before {
  top: 0;
}

.button-oppen::before {
  content: "-";
}

.card .btn-link {
  text-align: left;
  text-decoration: none;
}

.card-header {
  background-clip: border-box;
}

.card-body {
  /* border-radius: 5em; */
  background-clip: border-box;
}

#headingOne,
#headingTwo,
#headingThree,
#headingFour,
#headingFive {
  border-radius: 1em;
  box-shadow: 0px 1px 10px grey;
}

#accordion {
  width: 70%;
  margin: auto;
  margin-top: 4em;
  margin-bottom: 1em;
}

h3,
h4 {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

h5 {
  font-weight: bold;
}

h1 {
  font-weight: bold;
  border-bottom: #000 solid 2px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

a {
  color: #000;
}

.pxsha{
  height: 1px;

}

.bg-stars{
  max-width: 70%;
  margin-left: 15%;
}

@media (max-width: 974px){
  .bg-stars{
    max-width: 100%;
    margin-left: 0%;
  }
}

@media (max-width: 600px){
  #accordion {
    width: 90%;
    margin: auto;
    margin-top: 4em;
    margin-bottom: 1em;
  }
}
