<div class="mt-5">
  <div id="texto">
    <h2>Termos de Uso</h2>
    <br><br>
    <h4>1. DA ACEITAÇÃO</h4>
    <br><br>
    <p>
      Ao acessar e/ou utilizar o conteúdo do Site Cresci, o usuário expressa sua aceitação plena e sem limitações
      aos termos constantes neste documento, para todos os fins de direito. Assim, declara que realizou a leitura
      integral e atenta destes Termos de Uso. O presente documento (“Termos de Uso”) define os termos e condições
      aplicáveis ao uso do site e visa deixar claro as regras de sua utilização, assim como esclarecer os
      direitos, deveres e responsabilidades de todos os envolvidos neste processo, além de garantir o melhor uso
      das nossas funcionalidades.
      <br><br>
      O Site Creci é um ambiente de compra e venda online (e-commerce) criado com o objetivo de oferecer uma
      plataforma onde pessoas físicas possam comprar e vender roupas infantis. Por favor, revise o conteúdo deste
      termo cuidadosamente e de forma detalhada antes de utilizar o site. Se você não concordar com os termos e
      condições aqui inseridos, por favor, não utilize o site.
    </p>
    <br><br>
    <h4>2. RESPONSABILIDADES</h4>
    <br><br>
    <p>

      Ao utilizar o Site Cresci você reconhece que a utilização do site será feita por sua exclusiva conta, risco
      e responsabilidade, se comprometendo a utilizar o site nos moldes da legislação vigente, da moral, bons
      costumes, a ordem pública, abstendo-se de manusear o site para realização de atividades ilícitas, imorais ou
      que interfiram em direitos de terceiros.
    </p>
    <br><br>
    <h4>3. DEFINIÇÕES</h4>
    <br><br>
    <p>
      VENDEDOR – Pessoa física que oferta PRODUTOS para venda no site através de um ANÚNCIO.
      COMPRADOR – Pessoa física que pesquisa e/ou compra PRODUTOS no site.
      <br><br>
      PRODUTOS USADOS – Mercadorias do segmento infantil ofertadas no site. Todos os itens usados devem estar em
      perfeitas condições de uso.
      <br><br>
      PRODUTOS NOVOS - Mercadorias do segmento infantil ofertadas no site. Considera-se itens novos aqueles que
      contém etiqueta e/ou não possuem nenhuma marca ou sinal de uso.
      <br><br>
      ANÚNCIOS – Conjunto de informações sobre determinado PRODUTO incluindo, nome, descrição, fotos, informações
      técnicas, medidas, peso, estado de conservação e preço.
      <br><br>
      USUÁRIOS – Qualquer pessoa que acessa o Site Cresci, incluindo o COMPRADOR e o VENDEDOR.
      <br><br>
      CADASTRO – Dados preenchidos pelo COMPRADOR ou VENDEDOR.
    </p>
    <br><br>
    <h4>4. QUEM SOMOS E O QUE OFERECEMOS</h4>
    <br><br>
    <p>
      O site tem como missão impulsionar a economia colaborativa, através de uma nova forma de consumo:
      facilitando a conexão entre pais interessados em comprar e vender roupas infantis, desta forma os pais
      vendedores conseguem recuperar parte do investimento feito em produtos que não têm mais uso para seus filhos
      e pais COMPRADORES conseguem obter preços atraentes em produtos de boa procedência e com boas condições de
      uso.
      <br><br>
      O Site Cresci não é fornecedor, fabricante ou vendedor de nenhum produto listado em suas páginas, tampouco
      exerce a posse física dos bens anunciados. Sua atuação se restringe à conceder uma plataforma para a
      publicação dos anúncios concebidos unicamente pelos VENDEDORES, os quais são os únicos responsáveis pela
      veracidade e cumprimento do conteúdo do anúncio.
    </p>
    <br><br>
    <h4>5. VEDAÇÕES</h4>
    <br><br>
    <p>
      O USUÁRIO se compromete a não transmitir, introduzir, difundir ou colocar à disposição de terceiros qualquer
      tipo de material ou informação que sejam contrários à legislação vigente, à moral, à ordem pública, aos
      presentes Termos e Condições e às políticas do Site Cresci. Ao aceitar esses termos o usuário do Site Cresci
      se compromete a não violar quaisquer regras, regulamentos ou legislações aplicáveis, não violar quaisquer
      direitos de propriedade intelectual ou privacidade, incluindo, mas não se limitando a, patentes, direitos
      autorais, marcas ou segredos comerciais de quaisquer terceiros. Não fazer upload, publicar, transmitir ou
      armazenar qualquer material que:
      <br><br>
      a) Seja ilegal, ofensivo, difamatório, fraudulento, constrangedor, pornográfico, obsceno, enganoso ou
      inaceitável;
      <br><br>
      b) Viole quaisquer de suas obrigações contratuais ou de confidencialidade;
      <br><br>
      c) Perturbe ou interfira nas operações regulares do site, tais como, transmissão de vírus, publicação de
      anúncios ou materiais repetidos ou fora do tamanho normal;
      <br><br>
      d) contenha materiais de publicidade não autorizados, mensagens de spam, esquemas de pirâmide, franquias ou
      outros materiais não permitidos;
      <br><br>
      e) Violar ou tentar violar quaisquer medidas de segurança do site;
      <br><br>
      f) Acessar ou tentar acessar qualquer conta de terceiros contida no site;
      <br><br>
      g) Não introduzir ou difundir qualquer informação que tenha conteúdo falso, ambíguo ou inexato, bem como não
      omitir informações relevantes sobre a oferta, de forma a potencialmente induzir a erro eventuais receptores
      de referida informação;
      <br><br>
      5.1 Não anunciar produtos que estejam em má conservação de uso.
    </p>
    <br><br>
    <h4>6. CADASTRO</h4>
    <br><br>
    <p>

      O Site Cresci apresenta a oportunidade de abrir uma conta de usuário para realização de anúncios e aquisição
      de produtos. A senha criada pelo USUÁRIO ou VENDEDOR no momento de CADASTRO é pessoal e intransferível,
      portanto não deve ser divulgada ou compartilhada em hipótese alguma. Se suspeitar que a senha foi extraviada
      ou está sendo utilizada por outra pessoa o USUÁRIO ou VENDEDOR deve acessar seu CADASTRO e efetuar a troca
      da senha. O USUÁRIO cadastrado é responsável por todas as atividades que forem realizadas através de sua
      conta. Não nos responsabilizamos por qualquer perda ou dano resultante de sua falha em cumprir com as
      obrigações previstas neste item.
      <br><br>
      Ao completar o CADASTRO, o USUÁRIO declara que os dados fornecidos estão completos e exatos e que está de
      pleno acordo com os esses Termos de Uso e políticas do Site Cresci.
      <br><br>
      O Site Cresci reserva-se o direito de desativar, temporária ou definitivamente um CADASTRO de USUÁRIO que
      não cumpra com todas as exigências deste termo.
    </p>
    <br><br>
    <h4>7. ANÚNCIOS </h4>
    <br><br>
    <p>
      O Site Cresci dispõe de regras que devem ser observadas por cada USUÁRIO no momento da publicação dos
      anúncios, conforme a seguir. O não cumprimento destas regras implica na exclusão do ANÚNCIO e cancelamento
      do cadastro do USUÁRIO no caso de reincidência.
      <br><br>
      a) Fica plenamente vedada a duplicidade de anúncios e será considerada “duplicidade”, para os fins deste
      item, a publicação de mais de 1 (um) anúncio para o mesmo produto;
      <br><br>
      b) Fica vedada utilizar a mesma imagem em anúncios distintos ou utilizar dispositivos automatizados que
      permita a realização de diversos anúncios em massa;
      <br><br>
      c) A categoria de produtos a serem inseridos e veiculados nos anúncios deverá ser exclusivamente do segmento
      infantil;
      <br><br>
      d) As imagens inseridas nos anúncios devem se limitar, exclusivamente, ao produto anunciado, ficando
      proibida a utilização de imagens de outros anunciantes ou sites, imagens com links ou que apresentem em seu
      conteúdo outro item que não seja o próprio produto, como pessoas, animais, entre outros;
      <br><br>
      e) Ficam vedados os anúncios que contenham informações irreais, tais como, mas não se limitando a, preço
      vil, preço em branco, imagem incompatível com a descrição do anúncio efetuado;
      <br><br>
      f) Ficam vedados os anúncios e uso de imagens que perturbem a moral, bons costumes, a ordem pública ou com
      conteúdo ilegal, incluindo mas não se limitando a, conteúdo pornográfico ou de pedofilia.
      <br><br>
      7.1 O Site Cresci não se obriga, sob nenhuma hipótese, a manter o backup de anúncios publicados, mesmo
      aqueles que tiverem sido desativados e/ou excluídos pelo próprio usuário, mesmo que por engano.
      <br><br>
      7.2 <b>Disponibilidade dos produtos e entrega.</b> Ao publicar um anúncio, o VENDEDOR declara ter a posse e
      propriedade dos produtos na quantidade e modelos oferecidos em seu anúncio.
      <br><br>
      7.3 <b>Procedência e Licitude do Produto.</b> Ao realizar anúncios de produtos o VENDEDOR declara que estes
      são de origem lícita, não violando quaisquer direitos de terceiros, incluindo direitos de propriedade
      intelectual, de posse ou propriedade, direito de qualquer pessoa ou entidade, incluindo, sem limitação, os
      direitos de publicidade ou privacidade. Declara também que os produtos ou serviços não violam direitos de
      menores de idade, não desrespeitam os direitos consumeristas, nos termos da lei aplicável, e que a
      comercialização está em plena conformidade com a legislação vigente, assumindo, para todos os fins, a
      responsabilidade por certificar a procedência, licitude e validade dos produtos ou serviços ofertados, além
      da total compatibilidade com o presente Termo e Condições de Uso e outras políticas aplicáveis.
      <br><br>
      7.4 <b>Validação dos anúncios e contatos.</b> Para atender e proporcionar aos usuários do site a melhor
      transparência, zelando pelo bom funcionamento e segurança do site, o Cresci poderá, a seu exclusivo
      critério, verificar a validade dos dados de contato inseridos nos anúncios, sendo que tal verificação não
      deverá, em nenhuma hipótese, ser presumida como compromisso, obrigação ou responsabilidade do Cresci quanto
      à veracidade ou legalidade destas informações, que continuarão sendo de total responsabilidade do USUÁRIO
      que as disponibilizou.
    </p>
    <br><br>
    <h4>8. PREÇOS DOS PRODUTOS ANUNCIADOS E TAXAS DOS ANÚNCIOS</h4>
    <br><br>
    <p>
      O VENDEDOR pode determinar o preço que deseja cobrar pelo produto anunciado. Recomendamos que sejam oferecidos
      descontos atraentes em relação ao preço pago originalmente e aos valores praticados atualmente no
      mercado.
      <br><br>
      Para produtos com o valor de até R$50,99 cobramos uma comissão de 7% sobre a venda. Para produtos com valor acima
      de R$51,00 cobramos uma comissão de 10% sobre a venda.
      <br><br>
      Essas taxas são cobradas pelos nossos serviços, tais como o de intermediação, meios de pagamento, segurança e
      demais custos da plataforma Cresci.
    </p>
    <br><br>
    <h4>9. ENTREGA DOS PRODUTOS</h4>
    <br><br>
    <p>
      O usuário VENDEDOR compromete-se a realizar a entrega dos produtos na quantidade, modelo e dentro dos prazos
      convencionados.
      <br><br>
      O VENDEDOR assumirá a responsabilidade pela entrega de produtos ocorridos fora dos parâmetros acordados, bem
      como pela não entrega dos mesmos. Caso haja algum fato que impossibilite a entrega ou a venda, seja este
      fato relacionado ao produto ou à logística de entrega, o anúncio deve ser retirado imediatamente pelo
      VENDEDOR. O VENDEDOR se compromete também a remover os produtos do site caso desista da venda, doe, ou dê
      qualquer outro fim que torne o produto indisponível para venda, sendo que, em eventual pagamento recebido
      antes da entrega, este se compromete a realizar a entrega efetiva do produto ou devolver eventuais valores
      recebidos.
      <br><br>
      As entregas serão feitas exclusivamente pelos Correios, tendo o preço do frete calculado com base na
      distância entre o comprador e o vendedor e no peso do produto – que foi cadastrado pelo vendedor no momento
      que efetuou o anúncio do produto. O vendedor se compromete a levar o produto até a agência de sua
      preferência em embalagem apropriada e com a etiqueta providenciada pelo Site Cresci para que o valor possa
      ser cobrado adequadamente do comprador.
    </p>
    <br><br>
    <h4>10. CONTATO ENTRE VENDEDOR E COMPRADOR</h4>
    <br><br>
    <p>
      Não é permitido a troca de mensagens entre vendedor e comprador utilizando a plataforma do Cresci para a
      negociação dos itens anunciados de outra forma que não seja através da plataforma, estando os usuários
      praticantes dessas atitudes sujeitos ao cancelamento do seu cadastro.
      <br><br>
      Caso haja necessidade de entrar em contato para tirar dúvidas ou resolver outra questão, os usuários devem
      aguardar aprovação do pagamento. Depois que o pagamento for aprovado, os dados do vendedor, telefone e
      e-mail, ficam disponíveis no ao comprador quando acessar suas compras. Se não conseguir falar com o vendedor
      após as tentativas de contato, contate a equipe do Cresci para que possamos te ajudar.
    </p>
    <br><br>
    <h4>11. DEVOLUÇÃO E REEMBOLSO</h4>
    <br><br>
    <p>
      É possível devolver um produto e solicitar o reembolso nas seguintes situações:
      Arrependimento de compra no prazo de 7 dias conforme previsto no artigo 49 da Lei 8.07.
      Produto incorreto, diferente do anunciado, em mau estado de conservação ou que o tamanho não tenha sido
      compatível.
      <br><br>
      Conheça as regras para devolver um produto:
      <br><br>
      1. Depois de os Correios registrarem o produto como entregue, o comprador terá o prazo de sete (7) dias
      corridos para solicitar a devolução.
      <br><br>
      2. Depois de solicitar a devolução, ela será liberada e, a partir de então, o comprador receberá a etiqueta
      com o prazo para postagem;
      <br><br>
      3. O produto deverá ser devolvido exatamente como foi recebido: embalado muito bem antes de ser enviado. A
      responsabilidade e o cuidado com a embalagem de envio do produto é sempre de quem realiza a postagem.
      <br><br>
      4. Produtos que tiveram suas etiquetas removidas, ou foram usados, lavados ou danificados por parte do
      comprador, não poderão ser devolvidos ao vendedor. Por isso, é importante checar cuidadosamente os produtos
      assim que eles chegarem às suas mãos.
      <br><br>
      Atenção: O valor do frete não será reembolsado.
    </p>
    <br><br>
    <h4>12. DENÚNCIAS E REPORTE DE ATIVIDADES INAPROPRIADAS</h4>
    <br><br>
    <p>
      Qualquer usuário que se sentir lesado por outro usuário da plataforma - como por exemplo com o recebimento
      de produto em mau estado de conservação, produto sem condições de uso, diferente do anunciado - deve entrar
      em contato imediatamente com o Site Cresci para averiguarmos a situação e tomarmos as devidas providências.
      <br><br>
      O Site Cresci não verifica a veracidade das informações publicadas pelos VENDEDORES, sendo esta de inteira
      responsabilidade de quem fez o anúncio. Porém, visando a transparência, segurança e confiabilidade da
      plataforma, tomaremos as devidas providências sempre que houver notificação e constatado atividades
      inapropriadas e que não estão em conformidade com nossa Política de Privacidade e Termos de Uso. Além disso,
      concedemos a possibilidade de reembolso, conforme item 11 destes termos.
    </p>
    <br><br>
    <h4>13. DOAÇÕES</h4>
    <br><br>
    <p>
      O Site Cresci possui parcerias com as seguintes instituições:
      <br><br>
      1. GRAACC, instituição que possui hospital que é referência em pesquisas e tratamento de câncer para pessoas
      de 0 a 18 anos. Está localizado na cidade de São Paulo mas atende crianças e jovens de todo o Brasil. A
      instituição aceita vários tipos de doações. Para saber mais clique (link do GRAACC). USUÁRIOS cadastrados no
      Site Cresci podem fazer doação em dinheiro diretamente pela nossa plataforma ou podem doar brinquedos, que
      podem ser entregues pessoalmente ou pelos Correios, no seguinte endereço: Rua Borges Lagoa, 565.
      <br><br>
      2. CUFA, Mães da Favela. A CUFA atua nas favelas de todo o Brasil, com vários projetos de inclusão e doações
      para pessoas que residem nesses locais. Com o projeto Mães da Favela, a ONG já ajudou mais de 2 milhões e
      meio de pessoas. USUÁRIOS cadastrados no Site Cresci podem fazer doação em dinheiro diretamente pela nossa
      plataforma.
      <br><br>
      3. AACD. Assistência médico-terapêutica em Ortopedia e Reabilitação que atua em todo o Brasil. A instituição
      aceita vários tipos de doações. Para saber mais clique (link do AACD). USUÁRIOS cadastrados no Site Cresci
      podem fazer doação em dinheiro diretamente pela nossa plataforma ou podem doar brinquedos, que podem ser
      entregues pessoalmente ou pelos Correios, no seguinte endereço: Rua França Pinto, 783 – Vila Mariana – São
      Paulo, SP. A AACD também retira doações no local com agendamento feito diretamente na instituição.
      <br><br>
      Doações recebidas em dinheiro através do Site Cresci serão encaminhadas integralmente para a instituição
      escolhida. Para verificar a veracidade das informações, o USUÁRIO poderá acessar o site de cada uma das
      instituições e constatar a parceria existente entre as partes.
      <br><br>
      O Site Cresci não se responsabiliza por retirar doações ou arcar com o frete pelos Correios, sendo estes
      custos de inteira responsabilidade do doador.
      <br><br>
      A parceria com essas instituições visa exclusivamente facilitar para os USUÁRIOS do Site Cresci fazerem
      doações para estas, sem precisarem ir para outros sites, e utilizando os dados já cadastrados em nossa
      plataforma. O Site Cresci não recebe nenhuma porcentagem das doações e não recebe nenhum tipo de lucro
      financeiro com estas parcerias. Nosso propósito é ajudar pessoas doentes ou menos favorecidas
      financeiramente, pois acreditamos que tornar o mundo melhor está ao alcance de todos. Ainda assim,
      entendemos que alguns USUÁRIOS podem preferir doar diretamente nos sites dessas instituições, sendo livre
      essa possibilidade para quem desejar fazê-lo.
    </p>
    <br><br>
    <h4>14. LEI APLICÁVEL E JURISDIÇÃO</h4>
    <br><br>
    <p>
      O presente Termos de Uso e relação decorrente das ações aqui compreendidas será regulada exclusivamente pela
      legislação brasileira. Fica eleito o Foro Central da Comarca da Capital do Estado de São Paulo para dirimir
      qualquer questão envolvendo o presente documento, renunciando as partes a qualquer outro,por mais privilegiado que
      seja ou venha a ser.
    </p>
  </div>
</div>
