<div class="container-fluid">
  <div class="container">
    <div class="row mt-5 ">
      <div class=" col-md-12 d-flex justify-content-end">
        <div class="card mt-3 mb-5 shadow-sm border-0" style="width: 26rem;">

          <h2 class="text-center my-3">Editar usuário:</h2>

          <ul class="card list-group list-group-flush">
            <label class="pl-2 pt-1 " for="nomeCliente">Nome</label>
            <input type="text" name="nomeCliente" class="card form-control list-group-item" id="nomeCliente"
              [(ngModel)]='usuario.nomeCliente'>

            <label class="pl-2 pt-1 " for="cpf">CPF</label>
            <input type="text" name="cpf" class="card form-control list-group-item" id="cpf" [(ngModel)]='usuario.cpf'>

            <label class="pl-2 pt-1 " for="usuario">Email</label>
            <input type="text" name="usuario" class="card form-control list-group-item" id="usuario"
              [(ngModel)]='usuario.usuario'>

            <label class="pl-2 pt-1 " for="senha">Senha</label>
            <input type="text" name="senha" class="card form-control list-group-item" id="senha"
              [(ngModel)]='usuario.senha'>
            
          </ul>
          <button class="btn btn-outline-primary my-4" (click)="salvar()">salvar</button>
        </div>
      </div>
    </div>
  </div>
</div>