<div class="container mt-5">
  <div id="carouselExampleControls" class="carousel col-12 slide" data-ride="carousel">

    <div class="carousel-inner">

      <div class="carousel-item active">
        <div class="embed-responsive embed-responsive-16by9" style="max-height: 300px;">
          <a routerLink='/home'><video type='video/mp4' class="embed-responsive-item video-fluid" autoplay muted loop
              src="../../assets/videos/criesci.mp4"></video></a>

        </div>
      </div>
      <div class=" carousel-item">
        <div class="embed-responsive embed-responsive-16by9" style="max-height: 300px;">
          <a routerLink='/sobre'>
            <video class="embed-responsive-item" autoplay muted loop
              src="../../assets/videos/como-nascemos.mp4"></video>
          </a>
        </div>
      </div>
      <div class="carousel-item" style="max-height: 300px;">
        <img src="https://i.imgur.com/I1p794F.jpg" class="img-fluid carimg" alt="Imagem de promoção">
      </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>

    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>
  </div>



  <div class="mt-5">
    <h3 text-align-start class="mont">
      Itens populares:
    </h3>
  </div>

  <div class="mt-5 mb-5">
    <div class="row">
      <div class="col-md-3 col-sm-12 mb-5">

        <div class="card shadow-sm ">
          <img id="img1" src="https://ae01.alicdn.com/kf/HTB1pseXKrPpK1RjSZFFq6y5PpXaL.jpg" class="card-img-top">
          <!-- <img id="img2" style=" position: absolute; " src="https://ae01.alicdn.com/kf/HTB1JaqhKAPoK1RjSZKbq6x1IXXaw.jpg"
          class="card-img-top"> -->
          <div class="card-body">
            <h6 class="card-title mont">Conjuntinho</h6>
            <p class="card-text mont">R$50,00</p>

          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-12 mb-5">
        <div class="card1 shadow-sm ">
          <img
            src="https://img.elo7.com.br/product/main/23F4BA2/roupa-infantil-para-festas-meninos-1-ano-roupa-para-meninos.jpg"
            class="card-img-top" alt="...">
          <!-- <img id="img2" style=" position: absolute; "
          src="https://img.elo7.com.br/product/main/23F4BA1/roupa-infantil-para-festas-meninos-1-ano-conjunto-infantil.jpg"
          class="card-img-top"> -->
          <div class="card-body">
            <h6 class="card-title">Conjuntinho</h6>
            <p class="card-text">R$50,00</p>

          </div>
        </div>
      </div>


      <div class="col-md-3 col-sm-12 mb-5">

        <div class="card shadow-sm ">
          <img id="img1"
            src="https://cdn.shopify.com/s/files/1/0043/3409/2374/products/product-image-633135970.jpg?v=1571715856"
            class="card-img-top">
          <!-- <img id="img2" style=" position: absolute; "
          src="https://http2.mlstatic.com/conjunto-jardineira-bebe-menina-infantil-rosa-D_NQ_NP_755031-MLB31850179810_082019-F.jpg"
          class="card-img-top"> -->
          <div class="card-body">
            <h6 class="card-title">Conjuntinho</h6>
            <p class="card-text">R$50,00</p>

          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-12 mb-5">
        <div class="card1 shadow-sm ">
          <img
            src="https://img.elo7.com.br/product/main/23F4BA2/roupa-infantil-para-festas-meninos-1-ano-roupa-para-meninos.jpg"
            class="card-img-top" alt="...">
          <!-- <img id="img2" style=" position: absolute; "
          src="https://img.elo7.com.br/product/main/23F4BA1/roupa-infantil-para-festas-meninos-1-ano-conjunto-infantil.jpg"
          class="card-img-top"> -->
          <div class="card-body">
            <h6 class="card-title">Conjuntinho</h6>
            <p class="card-text">R$50,00</p>

          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-3 col-sm-12 mb-5">
        <div class="card shadow-sm ">
          <img id="img1" src="https://ae01.alicdn.com/kf/HTB1pseXKrPpK1RjSZFFq6y5PpXaL.jpg" class="card-img-top">
          <!-- <img id="img2" style=" position: absolute; " src="https://ae01.alicdn.com/kf/HTB1JaqhKAPoK1RjSZKbq6x1IXXaw.jpg"
          class="card-img-top"> -->
          <div class="card-body">
            <h6 class="card-title">Conjuntinho</h6>
            <p class="card-text">R$50,00</p>

          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-12 mb-5">
        <div class="card1 shadow-sm ">
          <img
            src="https://img.elo7.com.br/product/main/23F4BA2/roupa-infantil-para-festas-meninos-1-ano-roupa-para-meninos.jpg"
            class="card-img-top" alt="...">
          <!-- <img id="img2" style=" position: absolute; "
          src="https://img.elo7.com.br/product/main/23F4BA1/roupa-infantil-para-festas-meninos-1-ano-conjunto-infantil.jpg"
          class="card-img-top"> -->
          <div class="card-body">
            <h6 class="card-title">Conjuntinho</h6>
            <p class="card-text">R$50,00</p>
          </div>
        </div>
      </div>


      <div class="col-md-3 col-sm-12 mb-5">
        <div class="card shadow-sm ">
          <img id="img1"
            src="https://cdn.shopify.com/s/files/1/0043/3409/2374/products/product-image-633135970.jpg?v=1571715856"
            class="card-img-top">
          <!-- <img id="img2" style=" position: absolute; "
          src="https://http2.mlstatic.com/conjunto-jardineira-bebe-menina-infantil-rosa-D_NQ_NP_755031-MLB31850179810_082019-F.jpg"
          class="card-img-top"> -->
          <div class="card-body">
            <h6 class="card-title">Conjuntinho</h6>
            <p class="card-text">R$50,00</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-12 mb-5">
        <div class="card1 shadow-sm ">
          <img
            src="https://img.elo7.com.br/product/main/23F4BA2/roupa-infantil-para-festas-meninos-1-ano-roupa-para-meninos.jpg"
            class="card-img-top" alt="...">
          <!-- <img id="img2" style=" position: absolute; "
          src="https://img.elo7.com.br/product/main/23F4BA1/roupa-infantil-para-festas-meninos-1-ano-conjunto-infantil.jpg"
          class="card-img-top"> -->
          <div class="card-body">
            <h6 class="card-title">Conjuntinho</h6>
            <p class="card-text">R$50,00</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="parallax"></div>

<!-- <div class="container"> 

  <h2 class="text-center mt-5">Cresci</h2>
  <hr class="col-md-3 col-8 mb-5">


  <div class="row  card-paleta row-cols-10 shadow ">
    <div class="col card-1 text-white">
      <h5 class="pt-1 pb-1">Missão</h5>
      <p>Nossa missão é viabilizar com qualidade vendas e doações de itens infantis de quem não usa mais, para quem precisa muito.
      </p>
    </div>

    <div class="col card-2 text-white">
      <h5 class="pt-1 pb-1">Visão</h5>
      <p>Ser empresa de referência e reconhecida como a melhor opção para os cliente que precisam de itens infantis de forma rapida e preço justo.
      </p>
    </div>

    <div class="col card-3 text-dark">
      <h5 class="pt-1 pb-1">Valores</h5>
      <p>Confiança, respeito, ética, comprometimento, sustentabilidade, humildade e acima de tudo humanidade. 
      </p>
    </div>

    <div class="col card-4 text-dark">
      <h5 class="pt-1 pb-1">Esperamos</h5>
      <p>Esperamos que nossos clientes mantenham a sensatez para que doe o necessario e vena a preço justo o que for preciso.
      </p>
    </div>
  </div>
</div> -->