<div class="container mt-5">


    <div class="embed-responsive embed-responsive-16by9" style="max-height: 300px;">
        <a routerLink='/home'><video class="embed-responsive-item" autoplay muted loop
                src="../../assets/videos/criesci.mp4"></video></a>
    </div>
    <div class="mt-5">
        <h3 text-align-start class="mont">
            Itens populares:
        </h3>
    </div>
    <div id="itens" class="carousel slide" data-ride="carousel" data-interval="10000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="mt-4">
                    <div class="row sessionCards">
                        <div class="col-md-4 col-sm-12 mb-5">
                            <div id="card" class="card shadow-sm">
                                <div id="img1" class="image card-img-top"></div>
                                <div class="card-body">
                                    <h6 class="card-title">Conjuntinho</h6>
                                    <p class="card-text">R$50,00</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12 mb-5">
                            <div class="card shadow-sm">
                                <div id="img2" class="image card-img-top"></div>
                                <div class="card-body">
                                    <h6 class="card-title">Macacão</h6>
                                    <p class="card-text">R$50,00</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12 mb-5">
                            <div id="card" class="card shadow-sm">
                                <div id="img3" class="image card-img-top"></div>
                                <div class="card-body">
                                    <h6 class="card-title">Conjuntinho</h6>
                                    <p class="card-text">R$50,00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="mt-4">
                    <div class="row sessionCards">
                        <div class="col-md-4 col-sm-12 mb-5">
                            <div id="card" class="card shadow-sm">
                                <div id="img1" class="image card-img-top"></div>
                                <div class="card-body">
                                    <h6 class="card-title">Conjuntinho</h6>
                                    <p class="card-text">R$50,00</p>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12 mb-5">


                            <div class="card shadow-sm">
                                <div id="img2" class="image card-img-top"></div>
                                <div class="card-body">
                                    <h6 class="card-title">Macacão</h6>
                                    <p class="card-text">R$50,00</p>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12 mb-5">


                            <div id="card" class="card shadow-sm">
                                <div id="img3" class="image card-img-top"></div>
                                <div class="card-body">
                                    <h6 class="card-title">Conjuntinho</h6>
                                    <p class="card-text">R$50,00</p>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="carousel-item">
                <div class="mt-4">
                    <div class="row sessionCards">
                        <div class="col-md-4 col-sm-12 mb-5">
                            <div id="card" class="card shadow-sm">
                                <div id="img1" class="image card-img-top"></div>
                                <div class="card-body">
                                    <h6 class="card-title">Conjuntinho</h6>
                                    <p class="card-text">R$50,00</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12 mb-5">
                            <div class="card shadow-sm">
                                <div id="img2" class="image card-img-top"></div>
                                <div class="card-body">
                                    <h6 class="card-title">Macacão</h6>
                                    <p class="card-text">R$50,00</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12 mb-5">


                            <div id="card" class="card shadow-sm">
                                <div id="img3" class="image card-img-top"></div>
                                <div class="card-body">
                                    <h6 class="card-title">Conjuntinho</h6>
                                    <p class="card-text">R$50,00</p>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <a class="carousel-control-prev rounded" href="#itens" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next rounded" href="#itens" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="">
        <h3 text-align-start class="mont">
            Promoções:
        </h3>
    </div>

    <div id="itens2" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="mt-4">
                    <div class="row secondSessionCards">
                        <div class="col-md-4 col-lg-3 col-sm-12 mb-5">

                            <div id="card" class="card shadow-sm">
                                <div id="img1" class="image card-img-top"></div>
                                <div class="card-body">
                                    <h6 class="card-title">Conjuntinho</h6>
                                    <p class="card-text">R$50,00</p>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-3 col-sm-12 mb-5">


                            <div class="card shadow-sm">
                                <div id="img2" class="image card-img-top"></div>
                                <div class="card-body">
                                    <h6 class="card-title">Macacão</h6>
                                    <p class="card-text">R$50,00</p>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-3 col-sm-12 mb-5">


                            <div id="card" class="card shadow-sm">
                                <div id="img3" class="image card-img-top"></div>
                                <div class="card-body">
                                    <h6 class="card-title">Conjuntinho</h6>
                                    <p class="card-text">R$50,00</p>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-3 col-sm-12 mb-5 card4">


                            <div class="card shadow-sm">
                                <div id="img4" class="image card-img-top"></div>
                                <div class="card-body">
                                    <h6 class="card-title">Conjuntinho</h6>
                                    <p class="card-text">R$50,00</p>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="carousel-item">
                <div class="mt-4">
                    <div class="row secondSessionCards">
                        <div class="col-md-4 col-lg-3 col-sm-12 mb-5">

                            <div id="card" class="card shadow-sm">
                                <div id="img1" class="image card-img-top"></div>
                                <div class="card-body">
                                    <h6 class="card-title">Conjuntinho</h6>
                                    <p class="card-text">R$50,00</p>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-3 col-sm-12 mb-5">


                            <div class="card shadow-sm">
                                <div id="img2" class="image card-img-top"></div>
                                <div class="card-body">
                                    <h6 class="card-title">Macacão</h6>
                                    <p class="card-text">R$50,00</p>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-3 col-sm-12 mb-5">


                            <div id="card" class="card shadow-sm">
                                <div id="img3" class="image card-img-top"></div>
                                <div class="card-body">
                                    <h6 class="card-title">Conjuntinho</h6>
                                    <p class="card-text">R$50,00</p>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-3 col-sm-12 mb-5 card4">


                            <div class="card shadow-sm">
                                <div id="img4" class="image card-img-top"></div>
                                <div class="card-body">
                                    <h6 class="card-title">Conjuntinho</h6>
                                    <p class="card-text">R$50,00</p>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="carousel-item">
                <div class="mt-4">
                    <div class="row secondSessionCards">
                        <div class="col-md-4 col-lg-3 col-sm-12 mb-5">
                            <div id="card" class="card shadow-sm">
                                <div id="img1" class="image card-img-top"></div>
                                <div class="card-body">
                                    <h6 class="card-title">Conjuntinho</h6>
                                    <p class="card-text">R$50,00</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-3 col-sm-12 mb-5">
                            <div class="card shadow-sm">
                                <div id="img2" class="image card-img-top"></div>
                                <div class="card-body">
                                    <h6 class="card-title">Macacão</h6>
                                    <p class="card-text">R$50,00</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-3 col-sm-12 mb-5">


                            <div id="card" class="card shadow-sm">
                                <div id="img3" class="image card-img-top"></div>
                                <div class="card-body">
                                    <h6 class="card-title">Conjuntinho</h6>
                                    <p class="card-text">R$50,00</p>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-3 col-sm-12 mb-5 card4">
                            <div class="card shadow-sm">
                                <div id="img4" class="image card-img-top"></div>
                                <div class="card-body">
                                    <h6 class="card-title">Conjuntinho</h6>
                                    <p class="card-text">R$50,00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev rounded" href="#itens2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next rounded" href="#itens2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="parallax"></div>