.carousel{    
    padding: 0;    
}

.carousel-item{
    width: 100%;
    height: auto;
}

.card-paleta{
    margin-top: 5%;
    margin-bottom: 10%;
}



.carimg{
    max-height: 300px;
    min-height: 300px;
    
}
/* 
#img1{
    background-image: url('../../assets/images/babe1.jpg');
    background-position-x: 95%;
    background-position-y: 30%;
} */



img{
    width: 100%;    
}

.card:hover{
    border: 1px solid #ff4b8d98;
}

.card1:hover{
    border: 4px solid #04C4D9;
}

.parallax {
    background-image: url('https://i.imgur.com/vWLH9rI.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }

