<div class="container mt-5">
    <div id="carouselExampleControls" class="carousel col-12 slide" data-ride="carousel">

        <div class="carousel-inner">

            <div class="carousel-item active">
                <div class="embed-responsive embed-responsive-16by9" style="max-height: 300px;">
                    <a routerLink='/home'><video class="embed-responsive-item" autoplay muted loop
              src="../../assets/videos/criesci.mp4"></video></a>

                </div>
            </div>
            <div class=" carousel-item">
                <div class="embed-responsive embed-responsive-16by9" style="max-height: 300px;">
                    <a routerLink='/sobre'>
                        <video class="embed-responsive-item" autoplay muted loop src="../../assets/videos/como-nascemos.mp4"></video>
                    </a>
                </div>
            </div>
            <div class="carousel-item" style="max-height: 300px;">
                <img src="https://i.imgur.com/I1p794F.jpg" class="img-fluid carimg" alt="Imagem de promoção">
            </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>

        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>



    <div class="mt-5">
        <h3 class="mont text-center">
            Novidades
        </h3>
        <hr>
    </div>

    <div class="mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 col-sm-12 mb-5">

                <div id="card" class="card shadow-sm">
                    <div id="img1" class="image card-img-top"></div>
                    <div class="card-body">
                        <h6 class="card-title">Conjuntinho</h6>
                        <p class="card-text">R$50,00</p>

                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12 mb-5">


                <div class="card shadow-sm">
                    <div id="img2" class="image card-img-top"></div>
                    <div class="card-body">
                        <h6 class="card-title">Macacão</h6>
                        <p class="card-text">R$50,00</p>

                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12 mb-5">


                <div id="card" class="card shadow-sm">
                    <div id="img3" class="image card-img-top"></div>
                    <div class="card-body">
                        <h6 class="card-title">Conjuntinho</h6>
                        <p class="card-text">R$50,00</p>

                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12 mb-5">


                <div class="card shadow-sm">
                    <div id="img4" class="image card-img-top"></div>
                    <div class="card-body">
                        <h6 class="card-title">Conjuntinho</h6>
                        <p class="card-text">R$50,00</p>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="parallax"></div>