*{
  font-family: 'Montserrat', sans-serif;
}
label{
  margin-bottom: -10%;
}
#myVideo{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -1000;
  background-size: cover;
  background: no-repeat;

}
.btn{
  background-color:#c217e400;
  color: #ff4b8d;
  border-color: #ff4b8d;
}
.btn:hover{
  background-color:#ff4b8d;
  color: #ffffff;
}
.btn:focus, .btn:active{
  outline: none !important;
  background-color: #ff4b8d;
  color: white;
  box-shadow: none !important;
}
.letra{
  padding: 7%;

}