<div class="container mt-5 letra">
    <video autoplay muted loop id="myVideo">
        <source src="../../assets/videos/video.mp4" type="video/mp4">
        </video>
        <div class="container-flex">
            <div class="row">
                <div class="col-md-7 letra">
                    <h1 class="text-white mb-2">Entre em contato</h1>
                    <h5 class="text-white mb-4">Se você tiver alguma dúvida, sinta-se à vontade para nos enviar uma mensagem, não se preocupe, entraremos em contato o mais rápido possível.</h5>
                    <a href="#" class="btn" data-toggle="modal" data-target="#sitemodal">Contate-nos</a>
                </div>

            </div>
        </div>
        <div class="modal fade" id="sitemodal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Preencha-os campos abaixo!</h5>
                        <button type="buttun" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="nome">Nome</label>    
                                    <input type="text" class="form-control mb-2" placeholder="Seu nome">
                                </div>
                                <div class="col-md-6">
                                    <label for="sobrenome">Sobrenome</label>
                                    <input type="text" class="form-control mb-2" placeholder="Seu sobrenome">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">E-mail</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu e-mail">
                                <small id="emailHelp" class="form-text text-muted">Nunca iremos compartilhar seu e-mail, com ninguém.</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Escreva a sua dúvida!</label>
                                <textarea class="form-control" style="resize: none" id="exampleFormControlTextarea1" rows="4" placeholder="Escreva..."></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>