<div class="container-flud mt-5 letra">
  <video autoplay muted loop id="myVideo">
    <source src="../../assets/videos/video.mp4" type="video/mp4">
  </video>
  <div class="container-flex">
    <div class="row">
      <div class="col-md-6 letra">
        <h1 class="text-white mb-2">Entre em contato</h1>
        <h5 class="text-white mb-4">Se tiver dúvidas, dicas ou feedbacks, sinta-se à vontade para nos enviar uma
          mensagem.</h5>
        <a href="#" class="btn" data-toggle="modal" data-target="#sitemodal">Contate-nos</a>
      </div>
    </div>
  </div>
  <div class="modal fade mt-5" id="sitemodal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Preencha-os campos abaixo!</h5>
          <button type="buttun" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <div class="row">
              <div class="form-group col-md-12">
                <label for="nomeCompleto">Nome completo</label>
                <input type="text" class="form-control mb-2" placeholder="Digite seu nome completo" [(ngModel)]="Contato.nomeCompleto">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-12">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Digite seu e-mail" [(ngModel)]="Contato.email">
                <small id="emailHelp" class="form-text text-muted">Nunca iremos compartilhar seu e-mail, com
                  ninguém.</small>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-12">
                <label for="textArea">Mensagem</label>
                <textarea class="form-control" id="Textarea" rows="9" style="resize: none"
                  placeholder="Escreva sua mensagem..." [(ngModel)]="Contato.descricao"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-toggle="modal" data-target="#modalEnviado" class="btn"
            data-dismiss="modal" (click)='contatar()'>Enviar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalEnviado" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Enviado com sucesso!</h5>
          <button type="buttun" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
