/* implementar media query max width 774px colocar o endereço acima do formulário de contato */
/* @media (max-width: 774px) {
        body {
          margin: 0 auto;
        }
      } */

form {
  width: 45%;
  height: 30%;
  margin: 0 auto;
  padding: 2%;
}

h1,
p {
  margin-top: 5%;
  text-align: center;
  font-family: "Nixie one";
  /* font-weight: bolder; */
}

label {
  font-family: "Nixie one";
}

.tel {
  width: 50%;
  height: 50%;
  /* background-color: aqua; */
}

.needs-validation {
  background: -webkit-linear-gradient(180deg, rgb(137, 198, 254), rgb(249, 255, 255));
  background: linear-gradient(180deg, rgb(137, 198, 254), rgb(249, 255, 255));
  
  width: 50%;
  justify-content: center;
  align-items: center;
  margin-bottom: 4%;
  margin-top: 4%;
}

#bordaPrincipal {
  background-color: rgba(227, 241, 255, 0.788);
  margin: 0 auto;
  padding-top: 1em;
  width: 100%;
}

.parallax {
  background-image: url("https://i.imgur.com/OFqoBcS.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
