* {
  font-family: 'Montserrat', sans-serif;
}

a{
  cursor: pointer;
}

.hrosa:focus {
  color: #ff4b8d !important;
}

#colorblack {
  color: black;
}

#secondnavbar {
  box-shadow: 0.1em 0.1em 1em rgb(250, 249, 249);
  border: 0ch;
}

.hrosa {
  font-weight: bold !important;
  color: black !important;
}

#navdrop {
  font-weight: bold !important;
}

.nav-link:hover,
.hrosa:hover,
#dropdown-item:hover,
#navdrop:hover {
  color: #ffffff !important;
  background-color: #ff4b8d;
  transition: 0.1s;
}

.nav-item:hover {
  transition-duration: 0.5s;
  border-radius: 0.5em;
}

.dropdown-menu {
  background-color: rgb(255, 255, 255);
  border: 0ch;
}


@media (max-width: 992px) {
  #searchbar {
    margin-left: 0em;
    max-width: 200px;
    margin-top: 0.625em;
  }

  #searchbutton {
    margin-top: 0.625em;
  }

  li {
    text-align: left;
    padding-left: 0.3em;
    width: 100%;
  }

  .dropdown-menu {
    margin-bottom: 0.325em;
    margin-right: 0.325em;
  }

  #navitem1 {
    margin-top: 0.625em;
  }

  .navbar-brand {
    margin: 0 auto;
  }
}
