<div class="container-flex">
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-12 d-flex justify-content-start mt-3">
        <h2>Lista de usuários:</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" *ngFor="let usuario of listaUsuarios">
        <div class="card mt-3 mb-5 shadow-sm border-0" style="width: 18rem;">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">ID: {{ usuario.idCliente }} </li>
            <li class="list-group-item">Nome: {{ usuario.nomeCliente }} </li>
            <li class="list-group-item">CPF: {{ usuario.cpf }} </li>
            <li class="list-group-item">E-mail: {{ usuario.usuario }} </li>
            <li class="list-group-item">Senha: {{ usuario.senha }} </li>
          </ul>
          <button class="btn btn-outline-primary" [routerLink]="['/editar-usuario', usuario.id]">editar</button>
          <button class="btn btn-outline-danger danger" [routerLink]="['/deletar-usuario', usuario.id]">excluir</button>
        </div>
      </div>
    </div>
  </div>
</div>
