<footer>
  <div class="footer-top shadow-sm footer-expand-lg">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12 segment-on md-mb-30 sm-mb-30">
          <h3>Dicas de Segurança</h3>
          <p>
            Certifique-se de que o produto está em bom estado. Nós não pedimos
            nenhum dado que pode comprometer a sua segurança.
          </p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 segment-two md-mb-30 sm-mb-30">
          <h2>Saiba mais</h2>
          <ul routerLink='/duvidas'>
            <li><a>Perguntas frequentes</a></li>
          </ul>
          <ul routerLink='/privacidade'>
            <li><a>Política de Privacidade</a></li>
          </ul>
          <ul routerLink='/termos-de-uso'>
            <li><a>Termos de Uso</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 segment-three sm-mb-30">
          <h2>Redes Sociais</h2>
          <p>Fique por dentro de todas as novidades!</p>
          <a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook">
              <fa-icon class="icoFacebook" [icon]="faFacebook"></fa-icon>
            </i></a>
          <a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter">
              <fa-icon class="icoTwitter" [icon]="faTwitter"></fa-icon>
            </i></a>
          <a target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin">
              <fa-icon class="icoLinkedin" [icon]="faLinkedin"></fa-icon>
            </i></a>
          <a target="_blank" href="https://github.com/"><i class="fa fa-github">
              <fa-icon class="icoGithub" [icon]="faGithub"></fa-icon>
            </i></a>
        </div>
        <div class="col-md-3 col-sm-6 col-lg-3 col-xs-6 segment-four sm-mb-30">
          <h2>Novidades</h2>
          <p>
            Receba nossas novidades e promoções!
          </p>
          <div class="newsletter">
            <input type="email" placeholder="Seu e-mail" [(ngModel)]="newsletter.email" />
            <input type="submit" value="ASSINAR" (click)="cadastrarEmail()" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom-text"> Desenvolvido com ❤️ Todos os Direitos Reservados &copy; Cresci 2020</div>
</footer>
