.sec1,
.sec2,
.sec3 {
    background-color: #fff;
    width: 100px;
    height: 90px;
    /* float: left; */
    margin-top: 50px;
}

@media screen and (max-width: 640px) {
    .sec1,
    .sec2,
    .sec3 {
        width: 60%;
        height: 150px;
    }
}