.sec1,
.sec2,
.sec3 {
    background-color: #fff;
    width: 100px;
    height: 90px;
    /* float: left; */
    margin-top: 50px;
}

.btn {
    background-color: #c217e400;
    color: #ff4b8d;
    border-color: #ff4b8d;
}

.btn:hover {
    background-color: #ff4b8d;
    color: #ffffff;
}

.btn:focus,
.btn:active {
    outline: none !important;
    background-color: #ff4b8d;
    color: white;
    box-shadow: none !important;
}

img {
    height: 550px;
}

h4 {
    color: #ff4b8d;
}

.header {
    background-color: #04c4d93a;
}

@media screen and (max-width: 640px) {
    .sec1,
    .sec2,
    .sec3 {
        width: 60%;
        height: 150px;
    }
}

@media screen and (max-width: 430px) {
    img {
        height: 300px;
    }
}