<!-- <link rel="stylesheet" href="produto.css"> -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- <link href="https://fonts.googleapis.com/css?family=Nixie+One&display=swap" rel="stylesheet"> -->
<!-- <link href="https://fonts.googleapis.com/css?family=Bellota+Text&display=swap" rel="stylesheet"> -->

<script src='jquery-1.8.3.min.js'></script>
<script src='jquery.elevatezoom.js'></script>



<!-- <div class="container mt-5">
    <div class="row">
        <div class="col-md-2 ml-4 mt-4">

            <div>
                <img class="sec1 ml-4" src="{{produto.imagem2}}" data-zoom-image="https://ae01.alicdn.com/kf/HTB13hx.KCzqK1RjSZFLq6An2XXaa.jpg" alt="">
            </div>
            <div>
                <img class="sec2 ml-4" src="{{produto.imagem3}}" alt="">
            </div>
            <div>
                <img class="sec3 ml-4" src="{{produto.imagem4}}" alt="">
            </div>


        </div>
        <div class="col-md-5">
            <img class="col-md-12 my-5 sec4" style="height: 450px; width: 90%;" src="{{produto.imagem}}" data-zoom-image="https://ae01.alicdn.com/kf/HTB1JaqhKAPoK1RjSZKbq6x1IXXaw.jpg" alt="">

        </div>
        <div class="col-md-4 my-5">
            <article>
                <aside>
                    <h1 class="text-center mt-2" style=" font-family: 'nixie one';
                        font-weight: bolder;">{{produto.titulo}}</h1>
                    <h4 class="text-center mb-4" style=" font-family: 'nixie one';
                        font-weight: bolder;">{{produto.preco}}</h4>
                    <h5 style=" font-family: 'nixie one';
                        font-weight: bolder;">Descrição do Produto</h5>
                    <p class="text-justify" style="height: 200px; font-family: 'Bellota Text';">{{produto.descricao}}</p>

                </aside>

              
                <button type="button" class="btn  w-100" data-dismiss="modal">Comprar</button>
            </article>



        </div>

    </div>

</div> -->

<div class="container mt-5">
  <div class="row">
    <div class="col-md-2 ml-4 mt-4">
      <div>
        <img class="sec1 ml-4" src="{{produto.foto2}}"
          data-zoom-image="https://ae01.alicdn.com/kf/HTB13hx.KCzqK1RjSZFLq6An2XXaa.jpg" alt="">
      </div>
      <div>
        <img class="sec2 ml-4" src="{{produto.foto3}}" alt="">
      </div>
      <div>
        <img class="sec3 ml-4" src="{{produto.foto4}}" alt="">
      </div>
    </div>
    <div class="col-md-5">
      <img class="col-md-12 my-5 sec4" style="height: 450px; width: 90%;" src="{{produto.foto1}}"
        data-zoom-image="https://ae01.alicdn.com/kf/HTB1JaqhKAPoK1RjSZKbq6x1IXXaw.jpg" alt="">
    </div>
    <div class="col-md-4 my-5">
      <article>
        <aside>
          <h1 class="text-center mt-2">{{produto.titulo}}</h1>
          <h4 class="text-center mb-4">R{{produto.preco | currency}}</h4>
          <p class="text-justify">{{produto.descricao}}</p>
          <p class="text-justify">Tamanho: {{produto.tamanho}}</p>
        </aside>
        <button type="button" class="btn  w-100" data-dismiss="modal">Comprar</button>
      </article>
    </div>
  </div>
</div>

