<div class="container my-5">
    <div class="row">
        <div class="col-md-4">
            <h4 class="my-5 ml-3">Produto</h4>
            <div class="col-md-12">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="{{produto.foto2}}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h6 class="card-title">Produto{{produto.titulo}}</h6>
                                <p class="card-text">bla bla bla{{produto.descricao}}</p>
                                <p class="card-text">R$50,00{{produto.preco | currency}}</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h4 class="my-5 ml-3">Endereço</h4>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">

                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="link">Editar endereço</a>
                    </div>
                    <hr>
                    <div class="card-body">
                        <h4>Frete</h4>

                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="link">Editar endereço</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h4 class="my-5 ml-3">Pagamento</h4>
            <div class="col-md-12">

                <div class="card">
                    <div class="card-body">
                        <p class="card-text">{{produto.titulo}}</p>
                        <p class="card-text"><b>Total a pagar</b> R{{produto.preco | currency}}</p>
                        <a href="#" class="btn  w-100 mt-2">Cartão de crédito</a>
                        <a href="#" class="btn  w-100 my-2">Boleto Bancário</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>