/* .mont {
    font-family: 'Montserrat';
    text-align: center;
  }

  .container-fluid {
      background-image: url(https://i.imgur.com/VtaHAOu.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
  }

  .img1 {
      background-image: url('../../assets/images/carrinho.PNG');
      height: 500px;
      background-repeat: no-repeat;
      background-position: center;
  } */

.btn {
    background-color: #c217e400;
    color: #fff;
    border-color: #ff4b8d;
    background-color: #ff4b8d;
}

.link {
    color: #ff4b8d;
}

img {
    min-height: 150px;
    /* width: 150px; */
}