<div class="bgLoginImage">
    <div class="container">
        <div class="row mt-5 d-flex justify-content-end shadow-sm">
            <div class="col-md-6 mt-5 border-0 formMargin" style="background-color: white;">

                <h4 class="mt-3">Entrar</h4>
                <hr>
                <span>Se você tiver uma conta, acesse com seu endereço de e-mail e senha.</span>
                <div>
                    <div class="form-group mt-3">
                        <label for="loginEmail">Email</label>
                        <input type="email" class="form-control" id="loginEmail" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">
                            Nunca compartilharemos seu email.</small>
                    </div>
                    <div class="form-group">
                        <label for="loginSenha">Senha</label>
                        <input type="password" class="form-control" required id="loginSenha"
                            oninvalid="this.setCustomValidity('Por favor, preencha este campo.')"
                            oninput="setCustomValidity('')">
                    </div>

                    <div class=" form-group form-check">
                        <input type="checkbox" class="form-check-input" id="loginLembrar">
                        <label class="form-check-label" for="loginLembrar">Lembrar-me</label>
                    </div>
                    <div class="col-md-12 d-flex justify-content-start padding-0">
                        <button type="submit" class="btn btn-outline-primary mb-1">Entrar</button>
                    </div>
                    <div class="col-md-12 d-flex justify-content-start padding-0 mb-3">
                        <a href="#" class="mb-3 mr-3">
                            <small>Esqueceu sua senha?</small>
                        </a>
                        <a routerLink='/cadastro' class="mb-3 mr-3">
                            <small>Não tem uma conta?</small>
                        </a>
                        <a routerLink='/privacidade' class="mb-3">
                            <small>Política de Privacidade</small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>