* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {margin: 0 auto;}

h2 {text-align: center;}

#texto {
    width: 60%;
    height: 80%;
    background-color: #ffffff;
    margin: 5em auto;
    padding: 5px 20px 15px 20px;
    /*font-family: 'Nixie One', cursive;
    font-family: 'Bellota Text', cursive;*/
    text-align: justify;
    border-radius: 15px;
       
}