<div class="mt-5">
  <div id=texto>
    <h2>Política de Privacidade</h2>
    <br><br>
    <p>
      O Site Cresci sabe da importância da privacidade de seus clientes. Na nossa Política de Privacidade, saiba
      como processamos os dados e informações obtidas de você e sobre você ao utilizar nosso site ou serviços.
      <br><br>
      Para os fins dessa Política de Privacidade, “informações pessoais” são aquelas que identificam uma pessoa
      específica, como nome completo ou endereço de e-mail.
      <br><br>
      Esta política se aplica aos dados que identificam o usuário individualmente e demais dados fornecidos pelo
      usuário.
    </p>
    <br><br>
    <h4>1. DA ACEITAÇÃO</h4><br>
    <p>
      Ao acessar e/ou utilizar o conteúdo do Site Cresci, o usuário expressa sua aceitação plena e sem limitações
      aos termos constantes nesta política para todos os fins de direito. Assim, declara que realizou a leitura
      integral e atenta da presente Política de Privacidade.
    </p>
    <br><br>
    <h4>2. QUAIS SÃO AS INFORMAÇÕES OBTIDAS</h4><br>
    <p>
      2.1. Os dados são coletados quando inseridos, de forma voluntária, diretamente pelo usuário, através do
      formulário disponível através do link (inserir link), que está disponível no Site Cresci.
      <br><br>
      2.2. As informações que recolhemos diretamente do usuário são: nome, e-mail, número de telefone e/ou
      celular, endereço, data de nascimento, documento de identidade (RG) e CPF. Esses dados serão utilizados
      apenas para comunicar-lhe sobre suas compras e/ou suas vendas.
      <br><br>
      2.2.2. Informações consideradas dados pessoais identificáveis que coletamos a partir da navegação do usuário
      no Site Cresci: logs, cookies, idioma, país e cidade, navegador, sistema operacional e provedor de serviços,
      resolução de tela, tipo de dispositivo (desktop ou celular), modelo do aparelho de celular, páginas que o
      usuário efetua navegação dentro do site, seus termos de pesquisa e tempo de utilização. Essas informações
      são utilizadas apenas com a finalidade de melhorar a experiência do usuário na navegação do site e
      utilização dos nossos serviços.
      <br><br>
      2.3 Cabe ao usuário o dever de prestar informações corretas e atualizadas. Não somos responsáveis pela
      precisão, veracidade ou falta dela nas informações prestadas pelo usuário. O usuário poderá, a qualquer
      momento, alterar ou editar seus dados cadastrais, bem como os dados referentes aos seus anúncios. O cadastro
      no Site Cresci é pessoal e intransferível, portanto uma vez criado, não será permitida a edição ou alteração
      dos campos CPF e RG. O usuário se compromete a manter seus dados cadastrais devidamente atualizados, a fim
      de que outros usuários ou o próprio Site Cresci possam contatá-los quando necessário. Para fazer qualquer
      edição ou atualização do cadastro o usuário deve acessar o link “Login > Meu Cadastro“, ou clicar aqui
      (inserir link).
    </p>
    <br><br>
    <h4>3. SOBRE O USO DE COOKIES</h4><br>
    <p>
      3.1 Cookies são pequenos arquivos de texto armazenados no computador do usuário e usados por sites para
      recordar informações sobre seus visitantes Utilizamos cookies para armazenar informação, tais como as suas
      preferências pessoais quando visita o nosso website. Isto poderá incluir um simples pop-up, ou uma ligação
      nos serviços que oferecemos, tais como acesso direto à administração de seus produtos, suas compras ou suas
      vendas no Site Cresci. Você pode desligar os seus cookies, nas opções do seu browser, ou efetuando
      alterações nas ferramentas de programas Anti-vírus. No entanto, alterar essas configurações pode afetar a
      forma como o usuário conseguirá interagir no Site Cresci, bem como em outros sites.
      <br><br>
      3.1.1 Destacamos, em acréscimo, que também usamos cookies persistentes. Através dos cookies persistentes,
      nosso site consegue reconhecer seu navegador depois de sua primeira visita para aquela área do site.
    </p>
    <br><br>
    <h4>4. SOBRE A OBRIGATORIEDADE DO CADASTRO PARA UTILIZAÇÃO INTEGRAL DOS SERVIÇOS</h4><br>
    <p>
      Qualquer usuário pode navegar de forma anônima no Site Cresci, sem a obrigatoriedade de cadastrar-se ou se
      identificar-se. O cadastro ou identificação (login) somente são exigidos caso o usuário queria publicar ou
      editar produtos publicados em seu nome, fazer uma oferta a um vendedor, ou ainda enviar mensagens para
      outros USUÁRIOS cadastrados.
    </p>
    <br><br>
    <h4>5. TROCA DE MENSAGENS E COMPARTILHAMENTO DE INFORMAÇÕES ENTRE USUÁRIOS</h4><br>
    <p>
      O Site Cresci permite que os usuários cadastrados e logados troquem mensagens entre si. Não é permitido nas
      mensagens a troca de ofensas, seja de cunho pessoal, religioso, étnico ou social, podendo levar à suspensão
      parcial ou definitiva do cadastro dos autores. A responsabilidade legal sobre tais atos é unicamente de seus
      autores. Qualquer informação que os usuários disponibilizarem em perfis publicamente disponíveis ou via Chat
      serão de sua inteira responsabilidade. Deste modo, o USUÁRIO considera os riscos existentes em publicar suas
      informações pessoais – como endereço ou localização precisa – e aceita o risco de haver cópias de suas
      mensagens e circulação destas entre outros usuários ou fora do site. O Site Cresci não assume qualquer
      responsabilidade por mensagens ou atos de terceiro em decorrência de informações que o USUÁRIO tornou
      públicas ou compartilhou com qualquer outro usuário.
    </p>
    <br><br>
    <h4>6. ARMAZENAMENTO DE DADOS E REGISTROS</h4><br>
    <p>
      6.1 Os dados e registros de atividades coletados serão armazenados pelo Site Cresci em ambiente seguro pelo
      prazo mínimo de 6 (seis) meses, nos moldes do Marco Civil da Internet. Todavia, considerando que nenhum
      sistema de segurança pode ou deve ser considerado como infalível, o Site Cresci, desde já, se exime de
      quaisquer responsabilidades por eventuais danos e/ou prejuízos decorrentes de falhas, vírus ou acesso ao
      nosso banco de dados, salvo nos casos em que tiver dolo ou culpa.
      <br><br>
      6.2 Os dados poderão ser excluídos antes deste prazo, caso haja solicitação do usuário.
    </p>
    <br><br>
    <h4>7. ACESSO, CORREÇÃO E EXCLUSÃO DE DADOS</h4><br>
    <p>
      O USUÁRIO poderá solicitar a exibição ou retificação de seus dados pessoais, através do e-mail
      (contato-cresci@gmail.com). Pelo e-mail, o USUÁRIO poderá requerer a limitação de uso de seus dados
      pessoais, manifestar sua oposição ao uso de determinado dado ou solicitar a exclusão de seus dados pessoais
      que tenham sido coletados pelo Site Cresci, ficando, desde já, estabelecido que caso o USUÁRIO retire sua
      concordância para finalidades fundamentais ao regular funcionamento do site, os serviços e/ou
      funcionalidades poderão ficar indisponíveis para este USUÁRIO.
    </p>
    <br><br>
    <h4>8. PROCESSAMENTO DE PAGAMENTOS</h4><br>
    <p>
      O Site Cresci poderá utilizar empresas de gerenciamento de pagamentos online terceirizadas. O usuário deve
      estar ciente que tais empresas terceirizadas poderão efetuar a coleta e armazenamento de suas informações. O
      Site Cresci não processa pagamentos diretamente e não armazena informações de cartões de crédito dos
      Usuários.
    </p>
    <br><br>
    <h4>9. DISPOSIÇÕES GERAIS</h4><br>
    <p>
      Essa Política de Privacidade pode ser alterada a qualquer momento com a publicação de sua versão mais
      recente, indicando a data em que foi realizada a última alteração. Você será informado de maneira apropriada
      de qualquer mudança significante que altere nosso processo de coletar, usar e/ou compartilhar informações
      pessoalmente identificáveis através dos Serviços.
    </p>
    <br><br>
    <h4>10. DIREITOS</h4><br>
    <p>
      Como citado, você sempre pode optar por não nos divulgar os dados, mas alguns dados podem ser necessários
      para aproveitar nossos recursos em sua totalidade. Você pode adicionar ou atualizar os dados, no entanto,
      uma cópia pode ser mantida em nossos registros. Você pode solicitar o cancelamento de seu usuário por e-mail
      (contato-cresci@gmail.com).
    </p>
    <br><br>
    <h4>11. LEI APLICÁVEL E JURISDIÇÃO</h4><br>
    <p>
      A presente Política de Privacidade e relação decorrente das ações aqui compreendidas será regulada
      exclusivamente pela legislação brasileira. Fica eleito o Foto Central da Comarca da Capital do Estado de São
      Paulo para dirimir qualquer questão envolvendo o presente documento, renunciando as partes a qualquer outro,
      por mais privilegiado que seja ou venha a ser.
    </p>
  </div>
</div>
