<div class="container mt-5">
    <!-- <div class="col-md-12 d-flex justify-content-center"> -->

    <div class="row d-flex justify-content-center">
        <div class="col-md-12 my-5">
            <h1 class="text-center">Meus produtinhos</h1>
        </div>
        <div class="col-md-12 d-flex justify-content-center">
            <div class="row">
                <!-- ngFor -->
                <div class="col-md-6 col-sm-12 mb-5" *ngFor="let produto of listaProdutos  ">

<!--                 <div class="col-md-5 mx-auto mb-5" *ngFor="let produto of listaProdutos"> -->

                    <div class="card shadow-sm" [routerLink]="['/pagina-produto', produto.idProduto]">
                        <img id="img2" src={{produto.foto2}} class="card-img-top">
                        <div class="card-body">
                            <h4 class="card-title">{{produto.titulo}}</h4>
                            <p class="card-text">R{{produto.preco | currency}}</p>
                        </div>
                        <div class="col-mf-12 d-flex justify-content-center">
                            <button class="btn btn-outline-info col-md-5 mr-3 mt-3 mb-5" [routerLink]="['/editarmeusprodutos', produto.idProduto]">Editar</button>
                            <button class="btn btn-outline-danger col-md-5 mt-3 mb-5" [routerLink]="['/deletarmeusprodutos', produto.idProduto]">Excluir</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>