.container-fluid{
    padding-top: 120px;
    padding-bottom: 100px;
    background-image: url('https://i.imgur.com/Hf2MXup.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card{
    background-color: rgba(255, 255, 255, 0.8);
}