<div class="container-fluid">
    <div class="container">
        <div class="row d-flex justify-content-start align-items-center">
            <div class="col-md-4 col-sm-12">
                <div class="card mt-3 mb-3 shadow-sm border-0" style="width: 18rem;">
                    <h2 class="my-3 text-center">Meu Perfil</h2>
                    <div>
                        <div class="col-md-12">
                            <label for="fotoCliente">Foto</label>
                            <input type="text" name="fotoCliente" id="fotoCliente" class="form-control mb-2" placeholder="URL"
                                [(ngModel)]="usuario.fotoCliente">
                        </div>

                        <div class="col-md-12">
                            <label for="nomeCliente">Nome</label>
                            <input type="text" name="nomeCliente" id="nomeCliente" class="form-control mb-2" placeholder="Seu nome"
                                [(ngModel)]="usuario.nomeCliente">
                        </div>

                        <div class="col-md-12">
                            <label for="usuario">E-mail</label>
                            <input type="text" name="usuario" id="usuario" class="form-control mb-2" placeholder="Seu nome"
                                [(ngModel)]="usuario.usuario">
                        </div>
                        <div class="col-md-12">
                            <button class=" w-100 btn btn-outline-primary my-3" (click)="salvar()">editar
                                dados</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>