<div class="container-fluid">
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-md-6 mt-3">
                <img src="../../assets/images/doe_african.jpeg" style="max-width: 100%;" alt="criança africana">
            </div>
            <div class="col-md-6 text-center mont mt-3">
                <h1>dados ibg</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur architecto, quam eligendi amet, velit, numquam placeat aliquam veniam facilis omnis similique ipsum! Eum temporibus aliquid sequi soluta ipsa reprehenderit quo.
                    
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati dolorem fuga amet ipsum neque saepe quod sequi corporis, incidunt autem cumque similique totam officia quos repellendus deserunt adipisci, ab facere.
                </p>
            </div>
            
        </div>
        
        <div class="row mt-5 mb-5">
            <div class="col-md-6 text-center mont">
                <h1>para a onde a doação vai!</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea corrupti rerum earum placeat unde voluptates maiores omnis laudantium eligendi nemo ut deleniti rem animi obcaecati, exercitationem sint at explicabo soluta.
                    
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores officiis a quis, perferendis voluptatum sunt unde ad, molestiae aliquam harum voluptates. Id eaque blanditiis amet. At eaque voluptatibus cumque quas.
                </p>
            </div>
            <div class="col-md-6">
                <img src="../../assets/images/doe_kid2.jpeg" style="max-width: 100%;" alt="crianças brasileira">
            </div>
            
            
        </div> <div class="row mt-5 mb-5">
            <div class="col-md-6">
                <img src="../../assets/images/doe_grupo.jpeg" style="max-width: 100%;" alt="crianças indianas">
            </div>
            <div class="col-md-6 text-center mont">
                <h1>como doar</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, doloribus. Nostrum suscipit maiores ratione! Est, fuga. Eos magni tempora vitae neque enim? Neque cumque voluptates sapiente aliquam fugiat. Veniam, quasi.
                    
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam voluptas deleniti mollitia itaque voluptatibus exercitationem, et quibusdam eveniet quas inventore quos odio, numquam placeat laboriosam aut consequuntur reprehenderit repudiandae iste!
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 tratamento">
            <div class="container">
                <div class="bg-white col-md-4 mt-3 mb-3 p-3 rounded b-0 shadow-sm">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputEmail4">Email</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputPassword4">Senha</label>
                            <input type="password" class="form-control" id="inputPassword4" placeholder="Senha">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>Doar cestas basicas </label>
                            <select class="form-control">
                                <option selected>Quantidade</option>
                                <option>1 cesta = R$ 50.00 reais</option>
                                <option>2 cesta = R$ 100.00 reais</option>
                                <option>3 cesta = R$ 150.00 reais</option>
                                <option>4 cesta = R$ 200.00 reais</option>
                            </select>
                        </div>   
                    </div>
                    <button type="submit" class="btn btn-outline-primary">Doar</button>
                    <div class="mt-1">
                        <a href="/duvidas"><small>Saiba mais</small></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


