<div class="container-fluid mt-5">
  <div class="pc">
    <div id="box" class="container col-md-12 mt-5">
      <div class="row ">
        <div class="col-md-5">
          <img id="img1" class="col-md-10 " src="https://i.imgur.com/Fbh0hmB.jpg" height="470px"
            class="rounded float-left" alt="...">
        </div>
        <div class="col-md-2">
          <img id="img2" class="card-img mt-5" height="400px"
            src="https://images.pexels.com/photos/298825/pexels-photo-298825.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            class="rounded float-right" alt="...">
        </div>
        <div id="txt" class="card-body col-md-4 mt-5 mont">
          <h1 class="text-center">Porque doar?</h1>
          <p><br>
            Se você chegou até aqui é porque acredita que pode fazer a diferença na vida de uma criança! Parabéns pela
            iniciativa! O Cresci tem parceria com algumas instituições. Você pode fazer sua doação em dinheiro para
            elas, preenchendo o formulário no fim da página, ou se preferir, pode doar diretamente no site de cada uma delas. 
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="cel">
    <div id="box" class="container mt-5">
      <div class="row ">
        <div class="col-md-6">
          <img id="img1" src="../../assets/images/catherine-hammond-dsf3lRHaUuA-unsplash (1).jpg" height="500px"
            class="rounded " alt="...">
        </div>
        <div class="card-body col-md-6 mt-5 mont">
          <h1 class="text-center">Porque doar?</h1>
          <p>
            Se você chegou até aqui é porque acredita que pode fazer a diferença na vida de uma criança! Parabéns pela
            iniciativa! O Cresci tem parceria com algumas instituições. Você pode fazer sua doação em dinheiro para
            elas, preenchendo o formulário no fim da página, ou se preferir, pode doar diretamente no site de cada uma delas. 
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="web">
      <div class="row my-5 d-flex align-items-center">
        <div class="col-md-6 mt-5 shadow-sm">
          <img src="../../assets/images/bebeGRAAC.jpg" style="max-width: 100%;" alt="Bebê paciente GRAAC">
        </div>
        <div class="col-md-6 mont mt-5">
          <h1>GRAACC</h1>
          <p>
            <a href="https://www.graacc.org.br/" class="pinkLink" target="_blank">GRAACC</a> é uma instituição da cidade
            de São Paulo que desde 1991 atua no tratamento de câncer de crianças e adolescentes.
          </p>
          <p>
            <b>Como ajudar?</b> Você pode doar brinquedos em bom estado diretamente para o bazar do
            GRAAC, enviando pelos Correios com o frete por nossa conta. Também é possível fazer doações em dinheiro. É só preencher 
            o formulário no fim da página!
          </p>
        </div>
      </div>
      <div class="row my-5 d-flex align-items-center">
        <div class="col-12 col-md-6 mont mt-5">
          <h1>Mães da Favela (CUFA)</h1>
          <p>
            A <a class="pinkLink" target="_blank" href="https://www.cufa.org.br/">CUFA</a> é uma organização criada há
            20 anos, a partir da união de jovens de várias favelas do Brasil, em busca de mais espaço para se expressar,
            e maior visibilidade
            para essa parte da população.</p>
          <p>
            <b>Como ajudar?</b> Com o projeto Mães da Favela, você pode doar cestas básicas para quem mais precisa. A
            doação é feita em dinheiro. É só preencher o formulário no fim da página!</p>
        </div>
        <div class="col-12 col-md-6">
          <img src="../../assets/images/favela-rj.jpg" style="max-width: 100%;" alt="Favela no Rio de Janeiro">
        </div>
      </div>

      <div class="row my-5 d-flex align-items-center">
        <div class="col-md-6 mt-5 shadow-sm">
          <img src="../../assets/images/AACD-2criancas.jpg" style="max-width: 100%;" alt="Crianças pacientes da AACD">
        </div>
        <div class="col-md-6 mont mt-5">
          <h1>AACD</h1>
          <p>
            A <a href="https://aacd.org.br/" class="pinkLink" target="_blank">AACD</a> é uma instituição que desde 1950
            fornece assistência médico-terapêutica em Ortopedia e Reabilitação. Atende pessoas de todas as idades, em
            todo o Brasil.
            <p>
          <p>
            <b>Como ajudar?</b> Você pode doar brinquedos em bom estado diretamente para o bazar da
            AACD, enviando pelos Correios com o frete por nossa conta. Também é possível fazer doações em dinheiro. É só preencher 
            o formulário no fim da página!
          </p>
        </div>
      </div>

    </div>
    <div class="mobile">
      <div class="row mt-5 mb-5 d-flex align-items-center">
        <div class="col-md-6 mt-5 shadow">
          <img src="../../assets/images/bebeGRAAC.jpg" style="max-width: 100%;" alt="Bebê paciente GRAAC">
        </div>
        <div class="col-md-6 mont mt-5">
          <h1>GRAACC</h1>
          <p>
            <a href="https://www.graacc.org.br/" class="pinkLink" target="_blank">GRAACC</a> é uma instituição da cidade
            de São Paulo que desde 1991 atua no tratamento de câncer de crianças e adolescentes.
          </p>
          <p>
            <b>Como ajudar?</b> Você pode doar brinquedos em bom estado diretamente para o bazar do
            GRAAC, enviando pelos Correios com o frete por nossa conta. Também é possível fazer doações em dinheiro. É só preencher 
            o formulário no fim da página!
          </p>
        </div>
      </div>
      <div class="row my-5 ">
        <div class="col-12 col-md-6">
          <img src="../../assets/images/favela-rj.jpg" style="max-width: 100%;" alt="Favela no Rio de Janeiro">
        </div>
        <div class="col-12 col-md-6 mont mt-5">
          <h1>Mães da Favela (CUFA)</h1>
          <p>
            A <a class="pinkLink" target="_blank" href="https://www.cufa.org.br/">CUFA</a> é uma organização criada há
            20 anos, a partir da união de jovens de várias favelas do Brasil, em busca de mais espaço para se expressar,
            e maior visibilidade para essa parte da população.</p>
          <p>
            <b>Como ajudar?</b> Com o projeto Mães da Favela, você pode doar cestas básicas para quem mais precisa. A
            doação é feita em dinheiro. É só preencher o formulário no fim da página!</p>
        </div>
      </div>
      
      <div class="row my-5 d-flex align-items-center">
        <div class="col-md-6 mt-5 shadow-sm">
          <img src="../../assets/images/AACD-2criancas.jpg" style="max-width: 100%;" alt="Crianças pacientes da AACD">
        </div>
        <div class="col-md-6 mont mt-5">
          <h1>AACD</h1>
          <p>
            A <a href="https://aacd.org.br/" class="pinkLink" target="_blank">AACD</a> é uma instituição que desde 1950
            fornece assistência médico-terapêutica em Ortopedia e Reabilitação. Atende pessoas de todas as idades, em
            todo o Brasil.
            <p>
          <p>
            <b>Como ajudar?</b> Você pode doar brinquedos em bom estado diretamente para o bazar da
            AACD, enviando pelos Correios com o frete por nossa conta. Também é possível fazer doações em dinheiro. É só preencher 
            o formulário no fim da página!
          </p>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12 tratamento mont">
      <div class="container d-flex justify-content-end">
        <div class="bg-white col-md-6 col-sm-12 mt-3 mb-3 p-3 rounded b-0 shadow-sm">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputname">Nome Completo</label>
              <input type="name" name="email" class="form-control" id="inputEmail4" placeholder="Seu nome"
                [(ngModel)]="doacao.nome">
            </div>
            <div class="form-group col-md-12">
              <label for="inputEmail4">Email</label>
              <input type="email" name="email" class="form-control" id="inputEmail4" placeholder="Seu email"
                [(ngModel)]="doacao.email">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12 mont">
              <label>Escolha a instituição </label>
              <select class="form-control mont" [(ngModel)]="doacao.instituicao">
                <option selected> GRAAC</option>
                <option>AACD</option>
                <option>CUFA - Mães da favela</option>
                <option>Dividir o valor igualmente entre as instituições</option>
              </select>
              <label>Escolha o tipo de doação </label>
              <select class="form-control mont" [(ngModel)]="doacao.item">
                <option>R$20,00</option>
                <option>R$40,00</option>
                <option>R$50,00</option>
                <option>R$100,00</option>
                <option>Brinquedo</option>
              </select>
            </div>
          </div>
          <button type="submit" class="btn" (click)="doar()">Doar</button>
          <div class="mt-1">
            <a routerLink="/duvidas"><small>Dúvidas? Saiba mais</small></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
