.tratamento {

  background-image: url("../../assets/images/jeff-dunham-f0q673rUxrsQ-unsplash.jpg");

  max-width: 100%;
  max-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.mont {
  font-family: 'Montserrat';
  text-align: justify;
}

.mont h1 {
  text-align: center;
}

.btn {
  background-color: #c217e400;
  color: #ff4b8d;
  border-color: #ff4b8d;
}

.btn:hover {
  background-color: #ff4b8d;
  color: #ffffff;
}

.btn:focus,
.btn:active {
  outline: none !important;
  background-color: #ff4b8d;
  color: white;
  box-shadow: none !important;
}

.pinkLink {
  color: #ff4b8d;
}


/* efeito */

#img2 {
  margin-top: 50px;
  border: #fff solid 10px;
  animation-name: imagem-crescer;
  animation-duration: 1000ms;
  /* funciona apenas na animação */
  animation-delay: 200ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

#txt {
  padding-left: 50px
}

#img1 {
  animation-name: imagem-entrar;
  animation-duration: 1000ms;
  animation-delay: 400ms;
  animation-fill-mode: backwards;
  /* inicio animação Ex: transform: translateX(-150%);*/
  opacity: 0.8;
  width: 100%;
}

@keyframes imagem-crescer {

  /* para funcionar a animação from(de)como está(inicial) to(para)como vai ficar(final) */
  from {
    opacity: 0;
    width: 0;
    transform: translateX(0);
  }

  to {
    opacity: 1;
    width: 400px;
    transform: translatex(10%);
  }
}

@keyframes imagem-entrar {
  from {
    transform: translateX(-150%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 0.8;
  }
}

@media screen and (max-width: 1024px) {
  #img2 {
    opacity: 0.7;
    display: none;
  }

  #img1,
  #img2 {
    animation: none;
  }
}

@media (max-width: 700px) {
  .web {
    display: none;
  }
}

@media(min-width: 701px) {
  .mobile {
    display: none;
  }
}


/* ----- */

@media (max-width: 1024px) {
  .pc {
    display: none;
  }
}

@media (max-width: 768px) {
  .pc {
    display: none;
  }

  #img1 {
    margin-top: 60px;
    height: 350px;
  }
}

@media(min-width: 1025px) {
  .cel {
    display: none;
  }
}
