.tratamento {
    background-image: url("../../assets/images/coracao-doacao.jpg");
    max-width: 100%;
    max-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.mont {
    font-family: 'Montserrat';
    text-align: justify;
}
.mont h1 {
    text-align: center;
}

.pinkLink{
  color: #ff4b8d;
}
/* efeito */

#img2 {
    margin-top: 50px;
    border: #fff solid 10px;
    animation-name: imagem-crescer;
    animation-duration: 1000ms;
    /* funciona apenas na animação */
    animation-delay: 200ms;
    animation-fill-mode: forwards;
    /* para com no fim da animação */
    /* transform: translateX(-70%);
    transition-duration: 500ms;  */
    opacity: 0;
}

#txt {
    padding-left: 50px
}

#img1 {
    animation-name: imagem-entrar;
    animation-duration: 1000ms;
    animation-delay: 400ms;
    animation-fill-mode: backwards;
    /* inicio animação Ex: transform: translateX(-150%);*/
    opacity: 0.8;
    width: 100%;
}

@keyframes imagem-crescer {
    /* para funcionar a animação from(de)como está(inicial) to(para)como vai ficar(final) */
    from {
        opacity: 0;
        width: 0;
        transform: translateX(0);
    }
    to {
        opacity: 1;
        width: 400px;
        transform: translatex(10%);
    }
}

@keyframes imagem-entrar {
    from {
        transform: translateX(-150%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 0.8;
    }
}

@media screen and (max-width: 1024px) {
    #img2 {
        opacity: 0.7;
        display: none;
    }
    #img1,
    #img2 {
        animation: none;
    }
}


