<div id="body">
  <div class="container">
    <div class="row mt-5 form-group d-flex justify-content-end">
      <div class="col-md-8 col-lg-6 mt-4 mb-4 border-0 formMargin" style="background-color: white;">
        <div class="p-2">
          <h4 class="mt-3">Cadastre seu produto</h4>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <label for="nome">Nome</label>
              <input type="text" maxlength="12" name="titulo" class="form-control mb-2"
                placeholder="Ex: Vestidinho florido." [(ngModel)]="produto.titulo">
            </div>
            <div class="col-md-6">
              <label for="number">Preço</label>
              <input type="number" name="preco" class="form-control mb-2" placeholder="R$" [(ngModel)]="produto.preco">
            </div>
            <div class="form-group col-md-12">
              <label for="texto-descricao">Descrição</label>
              <textarea class="form-control" style="resize: none" name="descricao" id="texto-descricao" rows="4"
                placeholder="Digite a descrição do produtinho" [(ngModel)]="produto.descricao"></textarea>
            </div>
            <div class="col-md-12">
              <label for="nome">Fotos</label>
            </div>
            <div class="input-group mb-4 col-md-12 col-lg-6">
              <div class="input-group-prepend">
                <span class="input-group-text"><img src="../../assets/images/camera.png" width="35" alt=""></span>
              </div>
              <input type="text" name="foto1" class="form-control" placeholder="Url imagem" aria-label="Username"
                aria-describedby="basic-addon1" [(ngModel)]="produto.foto2">
            </div>
            <div class="input-group mb-4 col-md-12 col-lg-6">
              <div class="input-group-prepend">
                <span class="input-group-text"><img src="../../assets/images/camera.png" width="35" alt=""></span>
              </div>
              <input type="text" class="form-control" name="foto2" placeholder="Url imagem" aria-label="Username"
                aria-describedby="basic-addon1" [(ngModel)]="produto.foto1">
            </div>
            <div class="input-group mb-4 col-md-12 col-lg-6">
              <div class="input-group-prepend">
                <span class="input-group-text"><img src="../../assets/images/camera.png" width="35" alt=""></span>
              </div>
              <input type="text" class="form-control" name="foto3" placeholder="Url imagem" aria-label="Username"
                aria-describedby="basic-addon1" [(ngModel)]="produto.foto3">
            </div>
            <div class="input-group mb-4 col-md-12 col-lg-6">
              <div class="input-group-prepend">
                <span class="input-group-text"><img src="../../assets/images/camera.png" width="35" alt=""></span>
              </div>
              <input type="text" class="form-control" name="foto4" placeholder="Url imagem" aria-label="Username"
                aria-describedby="basic-addon1" [(ngModel)]="produto.foto4">
            </div>
            <div class="form-group col-md-6">
              <label for="exampleFormControlSelect1">Categoria</label>
              <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="produto.categoria">
                <option disabled="disabled">Selecione</option>
                <option>Body</option>
                <option>Bermudinha</option>
                <option>Camisetinha</option>
                <option>Calça</option>
                <option>Casaquinho</option>
                <option>Conjuntinho</option>
                <option>Jardineira</option>
                <option>Macacão</option>
                <option>Shorts</option>
                <option>Vestidinho</option>
                <option>Outros</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="exampleFormControlSelect1">Estado do Produto</label>
              <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="produto.estado">
                <option disabled>Selecione</option>
                <option>Usado</option>
                <option>Nunca Usado</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="exampleFormControlSelect1">Tamanho</label>
              <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="produto.tamanho">
                <option disabled="disabled">Selecione</option>
                <option>RN</option>
                <option>P</option>
                <option>M</option>
                <option>G</option>
                <option>GG</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="exampleFormControlSelect1">Quantidade</label>
              <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="produto.quantidade">
                <option disabled="disabled">Selecione</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-info col-md-6" data-dismiss="modal"
              (click)="cadastrar()">Cadastrar</button>
            <button id="btn" type="button" class="btn  col-md-6" data-dismiss="modal"
              routerLink='/cadastro-produto'>Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
