textarea {
    height: 10em;
}

.container {
    margin-top: 5em;
    /* margin-bottom: 5em; */
}


/* 
#body {
    background-image: url("https://images.pexels.com/photos/3761512/pexels-photo-3761512.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
} */