<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->

<div id="body">
    <div class="container">
        <div class="col-md-12">
            <h4 class="text-center mt-5">Cadastre seu produto</h4>
        </div>
        <div class="row form-group d-flex justify-content-end">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control mb-2" placeholder="Ex: Vestidinho florido." [(ngModel)]="produto.titulo">
                    </div>
                    <div class="col-md-6">
                        <label for="nome">Preço</label>
                        <input type="text" class="form-control mb-2" placeholder="R$" [(ngModel)]="produto.preco">
                    </div>

                    <div class="form-group col-md-12">
                        <label for="exampleFormControlTextarea1">Descrição</label>
                        <textarea id="desc" class="form-control" style="resize: none" id="exampleFormControlTextarea1" rows="4" placeholder="Digite a descrição do produtinho" [(ngModel)]="produto.descricao"></textarea>
                    </div>



                    <div class="col-md-12">
                        <label for="nome">Fotos</label>
                    </div>


                    <div class="input-group mb-4 col-md-6">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><img src="../../assets/images/camera.png" width="35" alt=""></span>

                        </div>
                        <input type="text" class="form-control" placeholder="Url imagem" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-4 col-md-6">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><img src="../../assets/images/camera.png" width="35" alt=""></span>

                        </div>
                        <input type="text" class="form-control" placeholder="Url imagem" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-4 col-md-6">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><img src="../../assets/images/camera.png" width="35" alt=""></span>

                        </div>
                        <input type="text" class="form-control" placeholder="Url imagem" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-4 col-md-6">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><img src="../../assets/images/camera.png" width="35" alt=""></span>

                        </div>
                        <input type="text" class="form-control" placeholder="Url imagem" aria-label="Username" aria-describedby="basic-addon1">
                    </div>



                    <div class="form-group col-md-6">
                        <label for="exampleFormControlSelect1">Categoria</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                          <!-- <option disabled="disabled">Selecione</option> -->
                          <option>Body</option>
                          <option>Bermudinha</option>
                          <option>Camisetinha</option>
                          <option>Calça</option>
                          <option>Casaquinho</option>
                          <option>Conjuntinho</option>
                          <option>Shorts</option>
                          <option>Vestidinho</option>
                          
                          
                          <option></option>
                          <option></option>
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="exampleFormControlSelect1">Estado do Produto</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <!-- <option disabled>Selecione</option> -->
                          <option>Usado</option>
                          <option>Nunca Usado</option>
                          
                        </select>
                    </div>


                    <!-- </div> -->


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-info col-md-6" data-dismiss="modal" routerLink='/cadastro-produto' (click)="cadastrar()">Cadastrar</button>
                    <button id="btn" type="button" class="btn  col-md-6" data-dismiss="modal" routerLink='/cadastro-produto' (click)="cadastrar()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>